﻿/* ######### CSS for Shade Tabs. Remove if not using ######### */

.shadetabs{
    text-align: left; /* set to left, right or center */;
    margin: 0 0 0 0;
/* set margins as desired */    font: bold small verdana, arial, sans-serif;
/* set font as desired */
    border-bottom: 1px solid #BD9E5A;
/* set border COLOR as desired */    list-style-type: none;
    padding: 0px 10px 3px 25px;
/* THIRD number must change with respect to padding-top (X) below */ /*
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: bold 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/ ;
}
.shadetabs li{
    padding: 0px;
    margin: 0px;
    display: inline;
/*
margin: 0;
*/
}

.shadetabs li a{
	/*
text-decoration: none;
position: relative;
z-index: 1;
padding: 3px 7px;
margin-right: 3px;
border: 1px solid #778;
color: #2d2b2b;
background: white url(shade.gif) top left repeat-x;*/

padding: 3px 4px;
/* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */	border: 1px solid #006bbb;
/* set border COLOR as desired; usually matches border color specified in #tabnav */	background-color: #ffffff; /* set unselected tab background color as desired */;
	color: #FFECAC; /* set unselected tab link color as desired */
	margin-right: 4px; /* set additional spacing between tabs as desired */;
	text-decoration: none;
	border-bottom: none;
	background: white url('../images/light-gradient-small-new2.jpg') repeat-x left
top;
	font-weight: normal;
	font-family: Tahoma;
	font-size:medium;
}

.shadetabs li a:visited{
color: #2d2b2b;
}

.shadetabs li a:hover{
text-decoration: underline;
color: #2d2b2b;
}

.shadetabs li a.selected{ /*selected main tab style */
position: relative;
top: 1px;
}

.shadetabs li a.selected{
	/*selected main tab style */
background-image: url('../images/light-gradient-small-new-copy2-2.jpg');
	border-bottom-color: white;
}

.shadetabs li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}
.tb_menu_wts
{
    padding: 0px;
    margin: 0px;
    float: left;
    width: auto;
}
.tbmenu_rs
{
 
   
}
.tbmenu_container
{
    margin: 0px auto -1px auto;
    width: 1100px;
}
