﻿body {
/*------------------------margin: 0px 0px; padding: 5px;-------------*/

margin-top: 0px;

margin-right: 0px;

margin-bottom: 0px;

margin-left: 0px;

padding-top: 0px;

padding-right: 0px;

padding-bottom: 0px;

padding-left: 0px;

vertical-align: top;

background-repeat: repeat;

}

/*-----------Content Main Theme----------------------------------------------------------*/
p
{
    font-family: "Tahoma";
    font-size: small;
    color: #9B9B9B;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}


h2
{
    font-family: Tahoma;
    font-size: large;
    color: #193441;
    font-weight: normal;
    text-align: center;
}
h3 {
    font-family: "Tahoma";
    font-size: medium;
    font-weight: normal;
    color: #193441;
    text-align: center;
    font-style: normal;
}

ul {
    font-family: "Tahoma";
    font-size: small;
    color: #9B9B9B;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

/*------------------------------header----------------------------------------------------------------*/
.header {
	font-family: Tahoma;
	font-size: large;
	color: #D0D0D0;
	background-image: url('../IMAGES/navigation-marcgrossman.jpg');
	background-repeat: repeat-x;
	background-color: #2A210D;
}
.header h1{
	padding: 0px;
	margin: 0px;
	font-family: Tahoma;
	font-size: medium;
	color: #F6E1C3;
	font-weight: normal;
	font-style: normal;
}

 a
{
    color: #666666
}
a:hover {
    color: #333333
}
/*----------------------------------------------------------------------------------------------*/
/*------------------------------contact form----------------------------------------------------------------*/
.contactform {
    background-image: url('../images/light-gradient-small.jpg');
    background-repeat: repeat;
    background-position: inherit;
    font-family: Tahoma;
    font-size: large;
    color: #2F230D;
    width: 305px;
}
.mainwrapper
{
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.maincontent
{
    background-position: top;
    font-family: Tahoma;
    color: #666666;
    margin-right: 20px;
    margin-left: 20px;
    background-repeat: repeat-x;
}
.maincontent h1
{
    padding: 0px;
    margin: 0px;
    font-family: Tahoma;
    color: #334D5C;
    font-weight: normal;
    font-style: normal;
    font-size: x-large;
    text-align: center;
}
.rtcolumn {
    border: 3px solid #E7CD6C;
    padding: 0px;
    margin: 0px;
    float: right;
    top: inherit;
}
.tdspacer {
	width: 38px;
}
.footer {
		font-family: Tahoma;
		color: #CEAE63;
		font-size: small;
		background-image: url('../IMAGES/navigation-marcgrossman.jpg');
	}
.footer_section {
	background-image: url('../IMAGES/bttmnavshadow.jpg');
	background-repeat: repeat-x;
}
.btmnav {
    padding: 0px;
    margin: 0px;
    background-image: url('../IMAGES/btmshadow.jpg');
    background-repeat: repeat-x;
}
.btmnavinteriorpages {
    padding: 0px;
    margin: 0px;
    background-image: url('../IMAGES/bttmnavshadowinteriorpages.jpg');
    background-repeat: repeat-x;
    font-family: Tahoma;
    font-size: x-small;
}
.attorney_profile {
    padding: 5px 15px 10px 15px;
    margin-right: 10px;
    margin-left: 10px;
    width: 600px;
    height: 251px;
}
.attorney_quick_facts {
	background-image: url('../IMAGES/attorneyyellowshadow.jpg');
	font-family: Tahoma;
	color: #3E310D;
	padding: 5px;
	background-repeat: repeat-x;
}
.attorney_quick_facts h2{
	font-family: Tahoma;
	font-size: medium;
	color: #3E310D;
	text-align: center;
}
.attorney_quick_facts p
{
    font-family: Tahoma;
    color: #3A3222;
}
.phonenumber
{
    background-position: #fff;
    position: absolute;
    right: 5px;
    top: 10px;
    z-index: 1;
    background: #fff;
    float: right;
    font-size: 30px;
    color: #FFFFFF;
    white-space: nowrap;
    background-image: url('../IMAGES/navigation-marcgrossman.jpg');
    font-family: Tahoma;
    font-weight: normal;
    margin-left: 20px;
}
.texthighlight
{
    border: 1px solid #4A3C24;
    background-color: #FFFFCC;
    color: #003366;
}
.coupon
{
    border: 3px dotted #808080;
}
.h3withhr
{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CCCCCC;
}
.h3withindent
{
    margin-left: 5px;
}
.toprightvideo
{
    margin: 0px;
    background-color: #EDDEA3;
    padding-right: 2px;
    padding-left: 8px;
}
.contactformtitle
        {
            font-size: x-large;
            text-align: center;
        }
.contactformtitlefields
        {
            width: 141px;
        }
.style1
        {
            width: 100%;

        }
.style2
        {
            width: 47px;
        }
        .style3
        {
            font-size: x-large;
            text-align: center;
        }
        .style4
        {
            width: 47px;
            height: 27px;
        }
        .style5
        {
            width: 128px;
            height: 27px;
        }
        .style6
        {
            height: 126px;
        }
.attorneyprofileMain
{
    width: 100%;
}
.rtclmnattorneyprofile
{
    border: 2px solid #E7CE71;
}
.pagesavingproperties
        {
            float: right;
            font-family: Tahoma;
            font-size: x-small;
            color: #473713;
            width: 312px;
            text-align: center;
        }
.sitemaptop
        {
            font-family: Tahoma;
            font-size: small;
            color: #4D3B16;
            float: left;
        }
.tableGrid
{
    font-family: Tahoma;
    font-size: small;
    color: #999999;
    background-image: url('../IMAGES/btmshadow.jpg');
    background-repeat: repeat-x;
    border: 1px solid #4E4223;
    padding: 0px;
}
