﻿/* -------------------------MAIN NAVIGATION------------------------------------------------------------------------------------------------------------- */
.chromestyle{
	width: 100%;
	font-family: Tahoma;
	font-size: large;
	color: #FFFFFF;
}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.chromestyle ul{
	background-position: center center;
	width: 100%;
	background: url('../IMAGES/nav/newnavtemplate.jpg') repeat-x center
center; /*THEME CHANGE HERE*/
	padding: 4px 0 4px 0px;
	margin: 0;
	text-align: center;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #eee2ae;
}

.chromestyle ul li{
display: inline;
}

.chromestyle ul li a{
	color: #ffffff;
	padding: 4px 15px 4px 15px;
	margin: 0;
	text-decoration: none;
	border-right: 1px solid #DADADA;
	font-family: Tahoma;
	border-right-color: #32240C;
}

.chromestyle ul li a:hover, .chromestyle ul li a.selected{
	/*script dynamically adds a class of "selected" to the current active menu item*/
background-position: center center;
	background: url('../IMAGES/nav/newnavtemplatehover.jpg') repeat-x center
center;
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
	border-bottom-width: 0;
	border-style: solid;
	border-width: 1px;
	border-color: #32240C;
	position: absolute;
	top: 0;
/*THEME CHANGE HERE*/	font: normal 12px Verdana;
	line-height: 18px;
	z-index: 100;
	background-color: #f0e6bc;
	width: 200px;
	visibility: hidden;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4); /*Add Shadow in IE. Remove if desired*/
}
.dropmenudiv a{
	width: auto;
	display: block;
	text-indent: 3px;
	border-bottom: 1px solid #BBB;
/*THEME CHANGE HERE*/	padding: 2px 0;
	text-decoration: none;
	font-weight: bold;
	color: #2F220C;
	border-bottom-color: #2D210C;
}

* html .dropmenudiv a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
background-color: #F0F0F0;
}
/* -------------------------MAIN NAVIGATION------------------------------------------------------------------------------------------------------------- */
.indentmenu{
font: bold 15px Arial;
width: 100%; /*leave this value as is in most cases*/
overflow: hidden;
}

.indentmenu ul{
	border-left: 0 solid #564c66;
	border-right: 0 solid #564c66;
	border-top: 1px solid #836c36;
	border-bottom: 1px solid #836c36;
	margin: 0;
	padding: 0;
	float: left;
	width: 100%; /*width of menu*/ /*dark purple border*/;
	background: black url('../images/newnavtemplate.jpg') repeat-x center
center;
	height: 50px;
}

.indentmenu ul li{
display: inline;

}


.indentmenu ul li a{
float: left;
color: white; /*text color*/
padding: 20px 11px;
text-decoration: none;
border-right: 1px solid #cbcbcb;
    height: 24px;
}

.indentmenu ul li {
color: #f9901a;
}

.indentmenu ul li a:hover, .indentmenu ul li .current{
	color: white !important; /*text color of selected and active item*/;
	padding-top: 21px; /*shift text down 1px for selected and active item*/;
	padding-bottom: 14px; /*shift text down 1px for selected and active item*/;
	background: black url('../images/newnavtemplatehover.jpg') repeat-x center
center;
}
.nav-fade-light {
    padding: 0px;
    margin: 0px;
    background-image: url('../images/bttmnavshadow.jpg');
    background-repeat: repeat-x;
    background-position: inherit;
    width: 305px;
    height: 5px;
}
.headerbttm {
	padding-top: 0px;
	padding-bottom: 2px;
	padding-left: 5px;
	margin: 0px;
	background-image: url('../images/navigation-marcgrossman.jpg');
}
.h2image
{
    padding: 0px;
    margin: 0px;
    background-image: url('../images/navigation-marcgrossman.jpg');
    background-repeat: repeat;
    height: 45px;
}
.head-divider-h2
{
    background-image: url('../images/navigation-marcgrossman.jpg');
    background-repeat: repeat-x;
    padding: 10px 5px 5px 15px;
    margin: 0px;
    font-family: Tahoma;
    color: #CEAE63;
    height: 41px;
    font-size: x-large;
    width: 285px;
}

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.glossymenu{
    border-left: 1px solid #9A9A9A;
    border-right: 1px solid #9A9A9A;
    border-top: 1px solid #9A9A9A;
    border-bottom: 0 solid #9A9A9A;
    list-style-type: none;
        margin: 0px 0 5px 0;
        padding: 0;
    width: 262px;
    }

.glossymenu li a{
	background: white url('../images/light-gradient-small-new2.jpg') repeat-x left
bottom;
	font: bold 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
	color: white;
	display: block;
	width: auto;
	padding: 3px 0;
	padding-left: 10px;
	text-decoration: none;
}


* html .glossymenu li a{ /*IE only. Actual menu width minus left padding of A element (10px) */
width: 160px;
}

.glossymenu li a:visited, .glossymenu li a:active{
color: white;
}

.glossymenu li a:hover{
	background-image: url('../images/light-gradient-small-new-copy2-2.jpg');
}

