/* FS CONTROL - PRINT STYLESHEET - UPDATED 01-17-2008 */

body, input, textarea, option, select { font-family: "Times New Roman", Times, serif; }
body { font-size: 1.3em; }

h1, .cfont7, h2, .cfont6, #content big.profiletopname, h3, .cfont5, .cbodyhdr1, .cbodyhdr2, .profilecommtextUpr, .profilecommtexthdr, .profileheader, h4, .cfont4, .cbodyhdr4, h5, .cfont3, h6, .cfont1 { color: #000000; }
a:link, a:hover, a:visited, a:active { text-decoration: underline; color: #000; }

/* DEFINE CONTENT COLOR */
#content { color: #000000; }

/* sIFR STYLES */
.sIFR-flash, .sIFR-flash object, .sIFR-flash embed { display: none; height: 0; width: 0; position: absolute; overflow: hidden; }
span.sIFR-alternate { visibility: visible; display: block; position: static; width: auto; height: auto; left: auto; top: auto; }

/* STANDARD ELEMENTS */
.printElement { display: block; width:97%; }
.screenElement { display: none; }
#content .callOut { padding: 1em; background: #FFFFFF; color:#000; margin-bottom: 1.2em; border: 1px solid #000000; }
body img { display: none; }
#content img { display: inline; }

/* CUSTOM DESIGN ELEMENTS */
body.design{ background:#fff none; text-align:left;}
a:link, a:visited, a:hover, a:focus, a:active{ text-decoration:underline; font-weight:normal; color:#00f;}
#banner img, #navigationMain img, #columnSide img{ display:none;}
	h1,h2,h3,h4,h5,h6{ color:#000;}
	.lock{ display:none;}
		#containerPage{ width:auto; margin:0; text-align:left;}
			#banner{ display:none;}
			#headerWrap2{ display:none;}
				#headerWrap{ display:none;}
					#header{ display:none;}
					.home #header{ display:none;}
			#containerColumns{ float:none;}
				#columnMain{ float:none; width:auto;}
					#containerPageTitle{ background:#fff none; padding:0; margin:0;}
						#pageTitle{ text-transform:none; color:#000; font:bold 1.4em times,serif; padding:1.2em 0;}
					#content{ padding:0;}
				#columnSide{ display:none;}
				#payment{ display:none;}
			#footerWrap{ clear:none; background-color:#fff; font-size:1em; line-height:normal;}
			#ie #footerWrap{ display:block;}
				#categories{ display:none;}
				#lowerWrap{ display:none;}
					#navigationLower{ display:none;}
				#footer{ width:auto; margin:0; text-align:left;}
					#contactInformation{ display:block; float:none; width:auto; font-size:1em; font-family:times,serif; color:#000; margin:0; border-top:2px solid #ccc; padding:1.2em 0;}
						#contactInformation a:link{ color:#00f; text-decoration:underline;}
						#contactInformation a:visited{ color:#606; text-decoration:underline;}
						#contactInformation a:hover, #contactInformation a:focus{ color:#68f; text-decoration:underline;}
						#contactInformation strong{ font-size:1em; color:#000;}	
				#geographicalFooter{ display:none;}
				#finePrintWrap{ width:auto; clear:none; margin:0; text-align:left;}
					#finePrint{ float:none; font-size:1em; font-family:times,serif; color:#000; padding:0;}
						#finePrint a:link{ color:#00f; text-decoration:underline;}
						#finePrint a:visited{ color:#606; text-decoration:underline;}
						#finePrint a:hover, #finePrint a:focus{ color:#68f; text-decoration:underline;}
						#copyright{ display:block; float:none; width:auto; margin:0; padding:0 0 .3em;}
						#branding{ float:none; width:auto;}
