/* FS CONTROL - BASE STYLESHEET - UPDATED 02-01-2008 */

html { font-size: .625em; }
body { margin: 0; padding: 0; background: #FFFFFF; color: #000000; }
body, input, textarea, option, select { font-family: Arial, Helvetica, Verdana, sans-serif; }
table, input, textarea, option, select { font-size: 1em;
    width: 176px;
    text-align: left;
}
ul, ol { margin: 0; padding: 0 0 0 2.75em; }
 h2, h3, h4, h5, h6, p, ul, ol {
	padding-top: 0;
	padding-bottom: 1.2em;
	margin: 0;
	font-style: normal;
}
ul ul, ul ol, ol ol, ol ul { padding-bottom: 0; }
address { font-style: normal; }
a img { border: 0; }
#ie em { display: inline-block; }

/* DEFINE BASE FONT SIZE -- 1.1em = 11px, etc. */
body { font-size: 1.2em; }

/* DEFINE CONTENT LINE HEIGHT */
#content p, #content ul, #content ol, #content li, #content blockquote { line-height: 1.45em; }

/* DEFINE CONTENT COLOR */
#content, #content td { color: #fff; }


a:link {
	color: #78b7d0;
	
}
a:visited { color: #5291af; }
a:hover, a:focus { color: #00b7ff; text-decoration: none; }
a:active { color: #9ce3ff; text-decoration: none; }




.b { color: #78b7d0}
.b:link { color: #78b7d0; text-decoration: none;}
.b:visited { color: #5291af; text-decoration: none;}
.b:hover, a:focus { color: #00b7ff; text-decoration: none; }
.b:active { color: #9ce3ff; text-decoration: none; }

/* HEADERS AND FS CONTROL LEGACY HEADER CLASSES 
h1, .cfont7 { font-size: 1.4em; font-weight: bold;
    text-align: center;
}
*/
h2, .cfont6, #content big.profiletopname { font-size: 1.2em; font-weight: bold; }
h3, .cfont5, .cbodyhdr1, .cbodyhdr2, .profilecommtextUpr, .profilecommtexthdr, .profileheader { font-size: 1.1em; font-weight: bold; padding-bottom: .3em; }
h4, .cfont4, .cbodyhdr4 { font-size: 1em; font-weight: bold; padding-bottom: .3em; }
h5, .cfont3 { font-size: .9em; font-weight: bold; padding-bottom: .3em; }
h6, .cfont1 { font-size: .8em; font-weight: bold; padding-bottom: .3em; }


.profilecommtexthdr { margin: 0 5px 0 0; }
big .profileheader { font-size: .91em; }



/* sIFR STYLES */
.sIFR-flash { visibility: visible; margin: 0; padding: 0; }
.sIFR-replaced, .sIFR-ignore { visibility: visible !important; }
.sIFR-alternate { position: absolute; left: 0; top: 0; width: 0; height: 0; display: block; overflow: hidden; color: #333333; }
.sIFR-active h1 { padding-bottom: 0; visibility: hidden; line-height: 1em; }

/* STANDARD ELEMENTS */
.printElement { display: none; }
.screenElement {  }
.handheldElement { display: none; }
#content .callOut { padding: 1em; background: #2a5062;  border:1px solid #78b7d0; margin-bottom: 1.2em; }
#content .callNews { padding: 1em; background: black;  border:1px solid white; margin-bottom: 1.2em; }

.clear { clear: both; line-height:0; font-size:0; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#ie .clearfix { height: 1%; }

/* CUSTOM DESIGN ELEMENTS */
body.design{ background:#193441 url(/Includes/Templates/Active/images/bg-body.gif) repeat-x; text-align:center;}
#banner img, #navigationMain img, #columnSide img{ border-width:0;}
	h2,h3,h4,h5,h6{ color:#78b7d0;}
		.lock{ position:relative;  }
			#bgBar{ position:absolute; width:50%; height:165px; background-color:#081f2a; top:0; left:50%;}
			#ie6 #bgBar{ left:0;}
		#containerPage{
	width:800px;
	margin:0 auto;
	text-align:left;
	position: relative;
}
			#banner{
    position: relative;
    z-index: 3;
    height: 170px;
    background: url(/Includes/Templates/Active/images/bg-banner.gif) no-repeat;
    top: -1px;
    left: 0px;
}
				.home #containerFlash{ position:absolute; top:0; left:0; width:473px; height:165px;}
				#lettermark{ position:absolute; top:39px; left:46px;}
				#logo{ position:absolute; top:46px; left:119px;}
				#cta1{ position:absolute; top:215px; left:345px;}
				#tagline1{ position:absolute; top:174px; left:33px;}
				#tagline2{ position:absolute; top:219px; left:33px;}
				#searchForm{ position:absolute; top:177px; left:521px;}
				#navigationMain{ position:absolute; top:15px; left:516px;}
					#navigationMain ul{ list-style:none; padding:0; margin:0;}
					#navigationMain ul li{ display:inline;}
					#navigationMain ul li a{ display:block;}
			#headerWrap2{ background:url(/Includes/Templates/Active/images/bg-headerWrap2.gif) repeat-y;}
				#headerWrap{ background:url(/Includes/Templates/Active/images/bg-headerWrap.gif) left bottom no-repeat;}
					#header{ position:relative; background:url(/Includes/Templates/Active/images/bg-header.jpg) no-repeat;}
					.home #header{ width:800px; height:233px; background:url(/Includes/Templates/Active/images/bg-header-home.jpg) no-repeat;}
					.home #containerFlash2{ position:absolute; top:-1px; left:0; width:800px; height:233px;}
						.home #lettermark2{ position:absolute; top:49px; left:538px;}
						.home #tagline3{ position:absolute; top:92px; left:620px;}
						#sectionImage{ position:absolute; top:25px; left:321px;}
						#shortFormTitle{ margin:32px 0 12px 2px;}
						#shortForm{ padding:0 0 20px 70px;}
			#containerColumns{ float:left;}
				#columnMain{ float:right; width:497px;}
				#new_include{ float:right; width:800px;}
					#containerPageTitle{
    background-position: left bottom;
    background: #081f2a no-repeat left bottom;
    padding: 12px 17px 48px 32px;
    margin: 0 15px 0 0;
}
					#containerPageTitle2{
	background-position: left bottom;
	background: #081f2a no-repeat left bottom;
	padding: 12px 17px 48px 32px;
	margin: 0 15px 0 0;
	position: relative;
}
						#pageTitle{ text-transform:uppercase; font-size:1.4em; font-family:georgia,times,serif; color:#fff; padding:0;
    text-align: center;
}
					#content{
    padding: 15px 32px 10px;
}
				#columnSide{ float:left; width:303px; overflow:hidden;}
					#navigationPractice{ background-color:#2a5062; margin:0 0 0 33px;}
						#navigationPractice a{ display:block; padding:.25em 10px .2em 15px; text-decoration: none;}
						#navigationPractice a:link{ color:#fff; text-decoration:underline; background:url(/Includes/Templates/Active/images/bullet.gif) 0 .55em no-repeat;}
						#navigationPractice a:visited{ color:#fff; text-decoration: none; background:url(/Includes/Templates/Active/images/bullet.gif) 0 .55em no-repeat;}
						#navigationPractice a:hover, #navigationPractice a:focus{ color:#78b7d0; text-decoration:none; background:url(/Includes/Templates/Active/images/bullet-o.gif) 0 .55em no-repeat;}
						#practiceTitle{ margin:20px 0 23px 29px;}
						#navigationPractice ul{ list-style:none; padding:0 27px 26px; margin:0;}
						#navigationPractice ul li{ font-weight:bold; font-size:.91em; font-family:tahoma,geneva,sans-serif; display:inline;}
					#navigationTools{ padding:0 0 30px; margin:0 0 0 33px;}
						#recentWins{ float:right;}
					#navigationFeatures{ padding:0 0 30px; margin:0 0 0 38px;}
						#navigationFeatures a{ display:block; padding:.4em 10px .3em 15px;}
						#ie6 #navigationFeatures a{ height:1%;}
						#navigationFeatures a:link{ color:#fff; text-decoration: none; background:url(/Includes/Templates/Active/images/bullet2.gif) 0 .55em no-repeat;}
						#navigationFeatures a:visited{ color:#fff; text-decoration:underline; background:url(/Includes/Templates/Active/images/bullet2.gif) 0 .55em no-repeat;}
						#navigationFeatures a:hover, #navigationFeatures a:focus{ color:#78b7d0; text-decoration:none; background:url(/Includes/Templates/Active/images/bullet2-o.gif) 0 .55em no-repeat;}
						#featuresTitle{ margin:0 35px 0 12px;}
						#espanolTitle{}
						#navigationFeatures ul{ display:inline; float:left; list-style:none; padding:0}
						ul#features1{ width:135px; margin:15px 8px 0 11px;}
						ul#features2{ width:100px; margin:15px 0 0;}
						#navigationFeatures ul li{ font-weight:bold; font-size:.75em; font-family:tahoma,geneva,sans-serif; display:inline;}
					#payment{ padding:0 20px 33px 38px;}
						#payment p{ font-weight:bold; font-size:.75em; color:#6c8794; padding:0 0 .6em;}
					#categories{ padding:0 0 28px 36px;}
						#categories #categoriesTitle{ float:none; margin:0 0 13px 2px;}
						#categories img{ clear:both; float:left; margin:0 0 4px;}
			#footerWrap{ clear:both; background-color:#081f2a; font-size:.91em; line-height:1.4em;}
			#ie #footerWrap{ display:inline-block;}
				#lowerWrap{ background-color:#2a5062; border-top:5px solid #081f2a;}
					#navigationLower{ width:800px; word-spacing:45px; padding:10px 10px 12px; margin:0 auto;}
						#navigationLower a{ font-family:tahoma,geneva,sans-serif; word-spacing:normal;}
						#navigationLower a:link{ color:#fff; text-decoration:none;}
						#navigationLower a:visited{ color:#fff; text-decoration:none;}
						#navigationLower a:hover, #navigationLower a:focus{ color:#78b7d0; text-decoration:none;}
						#navigationLowerJump{ font-size:0;}
				#footer{ width:800px; margin:0 auto; text-align:left;}
					#contactInformation{ display:inline; float:left; width:245px; font-size:.91em; font-family:arial,helvetica,sans-serif; color:#fff; margin:33px 0 0 50px;}
						#contactInformation a:link{ color:#fff; text-decoration:underline;}
						#contactInformation a:visited{ color:#fff; text-decoration:underline;}
						#contactInformation a:hover, #contactInformation a:focus{ color:#78b7d0; text-decoration:none;}
						#contactInformation strong{ font-size:1.1em; color:#78b7d0;}	
				#geographicalFooter{ display:inline; float:right; width:430px; margin:25px 35px 0 0;}
					#geographicalFooter p{ font-size:.91em; font-family:arial,helvetica,sans-serif; color:#fff; padding:.6em 0;}
				#finePrintWrap{ width:740px; clear:both; margin:0 auto; text-align:left;}
					#finePrint{ float:left; font-size:.91em; font-family:arial,helvetica,sans-serif; color:#fff; padding:14px 0;}
						#finePrint a:link{ color:#fff; text-decoration:underline;}
						#finePrint a:visited{ color:#fff; text-decoration:underline;}
						#finePrint a:hover, #finePrint a:focus{ color:#78b7d0; text-decoration:none;}
						#copyright{ display:inline; float:left; width:415px; margin:0 0 0 20px;}
						#branding{ float:right; width:265px;}
						
	
	background-image: url(../include_images/blue_table_background.gif);
	background-repeat: no-repeat;
        }
 .phoneNumber
        {
            float: inherit;
            color: #FFFFFF;
            padding-left: 40px;
            font-size: x-large;
            width: 685px;
            text-align: center;
            padding-bottom: 5px;
        }
        
         .phoneNumberInternal
        {
            float: inherit;
            color: #FFFFFF;
            font-size: x-large;
            width: 431px;
            text-align: center;
            padding-bottom: 5px;
        }
        .hablamosEspanol
        {
            font-size: large;
            color: #698B98;
        }
      