﻿body {
}
ul#nav {
	clear: both;
	float: left;
	display: inline;
	margin: 0;
	padding: 0px;
	background: url(../images/test/nav_bg.png) 0 0 repeat-x;
	height: 30px;
	width: 960px;
	position: relative;
	font-family: "Arial Narrow", Arial, Verdana, sans-serif;
}

ul#nav li {
	float: left;
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0 1px 0 0;
	line-height: 30px;
	height: 29px; 
	position: relative;
	background: transparent url(../images/test/nav_sep.png) top right no-repeat;
	font-family: "Arial Narrow", Arial, Verdana, sans-serif;
}


ul#nav li li {
	width: 160px;
}


ul#nav li a:link,
ul#nav li a:visited {
	margin: 0;
	padding: 0px;
	height: 29px;
	line-height: 29px;
	width: 119px;
	border: none;
	float: left;
	display: inline;
	color: #3e4d59;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	background: url(../images/test/nav_bg.png) 0 0 repeat-x;
	font-family: "Arial Narrow", Arial, Verdana, sans-serif;
}

ul#nav li#resources-nav a:link,
ul#nav li#resources-nav a:visited {
	width: 120px;
}

ul#nav li#resources-nav ul li a:link,
ul#nav li#resources-nav ul li a:visited {
	width: 140px;
}

ul#nav li a:link, ul#nav li a:visited {
	
}

ul#nav li a:hover{
	background: url(../images/test/nav_bg_over.png) 0 0 repeat-x;
	color: #fff;
}

ul#nav li ul {
	display: none;
	position: absolute;
	z-index: 99;
	top: 30px;
	left: 0px;
	margin: 0;
	background: #d1d8db url(../images/test/subnav_bg.png) repeat-x;
	border-left: 1px solid #2F3D49;
	border-right: 1px solid #2F3D49;
}

ul#nav li ul li a:link, ul#nav li ul li a:visited {
	background: none;
	border-bottom: 1px solid #2F3D49;
	line-height: 26px;
} 

ul#nav li.over {
	position: relative;
}

ul#nav li.over ul {
	display: inline;
}

ul#nav ul ul,
ul#nav li.over ul ul{
	display: none;
}

ul#nav li.over ul li a:link,
ul#nav li.over ul li a:visited {
	width: 140px;
	text-align: left;
	padding: 0 10px;
	height: 25px;
	line-height: 23px;
	color: #3e4d59;
	margin: 0;
	border-bottom: 1px solid #2F3D49;
}

ul#nav li a:hover {
	text-decoration: none;
	background: url(../images/test/nav_bg_over.png) 0 0 repeat-x;
	color: #fff;
}

ul#nav li#practice-nav li a:hover,
ul#nav li#solutions-nav li a:hover, 
ul#nav li#prodnav li a:hover,
ul#nav li#support-nav li a:hover,
ul#nav li#resources-nav li a:hover,
ul#nav li#about-nav li a:hover,
ul#nav li.over ul li a:hover {
	color: #fff;
	background-image: url(../images/test/subnav_bg_over.png);
	background-position: 0;
	background-repeat: repeat-x;
}

ul#nav li ul li {
	clear: left;
	padding: 0;
	background: none;
	height: 26px;
	line-height: 26px;
	text-indent: 0;
}

ul#nav li a {
	position: relative;
	text-align: center;
}

ul#nav li a span { 
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	cursor: pointer;
}

ul#nav li#practice-nav a span { background-image: url(../images/nav/practice_nav.gif); }
ul#nav li#solutions-nav a span { background-image: url(../images/nav/solutions_nav.gif); }
ul#nav li#prodnav a span { background-image: url(../images/nav/products_nav.gif); }
ul#nav li#support-nav a span { background-image: url(../images/nav/support_nav.gif); }
ul#nav li#resources-nav a span { background-image: url(../images/nav/resources_nav.gif); }
ul#nav li#about-nav a span { background-image: url(../images/nav/about_nav.gif); }
                              
#header ul#nav li a:link,
#header ul#nav li a:visited {
	background-position: 0 0;
}

ul#nav li a:hover span,
ul#nav li.over a:link span,
ul#nav li.over a:visited span {
	background-position: 0 -29px;
}

body.About ul#nav li#about-nav a:link span,
body.About ul#nav li#about-nav a:visited span,
body.Products ul#nav li#prodnav a:link span,
body.Support ul#nav li#support-nav a:link span,
body.Resources ul#nav li#resources-nav a:link span,
body.Solutions ul#nav li#solutions-nav a:link span,
body.Practice ul#nav li#practice-nav a:link span,
body.Products ul#nav li#prodnav a:visited span,
body.Support ul#nav li#support-nav a:visited span,
body.Solutions ul#nav li#solutions-nav a:visited span,
body.Resources ul#nav li#resources-nav a:visited span,
body.Practice ul#nav li#practice-nav a:visited span {
	background-position: 0 -58px;
}

body.About li#about-nav li a:link,
body.About li#about-nav li a:visited,
body.Products#header ul#nav li#prodnav li a:link,
body.Support li#support-nav li a:link,
body.Resources li#resources-nav li a:link,
body.Solutions li#solutions-nav li a:link,
body.Practice li#practice-nav li a:link,
body.Products li#prodnav li a:visited,
body.Support li#support-nav li a:visited,
body.Solutions li#solutions-nav li a:visited,
body.Resources li#resources-nav li a:visited,
body.Practice li#practice-nav li a:visited {
	background: url(../images/subnav_bg_over.png) 0 0 repeat-x;
}

body.About ul#nav li#about-nav li a:hover,
body.Products ul#nav li#prodnav li a:hover,
body.Support ul#nav li#support-nav li a:hover,
body.Resources ul#nav li#resources-nav li a:hover,
body.Solutions ul#nav li#solutions-nav li a:hover,
body.Practice ul#nav li#practice-nav li a:hover {
	background: url(../images/subnav_bg_over.png) 0 0 repeat-x;
}

ul#nav li#practice-nav ul li a,
ul#nav li#solutions-nav ul li a,
ul#nav li#prodnav ul li a,
ul#nav li#support-nav ul li a,
ul#nav li#resources-nav ul li a,
ul#nav li#about-nav ul li a,
#header ul#nav li ul li a:link,
#header ul#nav li ul li a:visited {
	background: none;
	text-indent: 0px;
	line-height: 25px;
	height: 25px;
}



body.About li#about-nav li a:link,
body.About li#about-nav li a:visited,
body.Products li#prodnav li a:link,
body.Support li#support-nav li a:link,
body.Resources li#resources-nav li a:link,
body.Solutions li#solutions-nav li a:link,
body.Practice li#practice-nav li a:link,
body.Products li#prodnav li a:visited,
body.Support li#support-nav li a:visited,
body.Solutions li#solutions-nav li a:visited,
body.Resources li#resources-nav li a:visited,
body.Practice li#practice-nav li a:visited {
	background: none;
	color: #3e4d59;
}
