﻿<%@ Page Title="" Language="C#" MasterPageFile="~/NewSite/MasterInternal.master" AutoEventWireup="true" CodeFile="internal.aspx.cs" Inherits="NewSite_internal" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContentInternal" Runat="Server">
</asp:Content>

