﻿<%@ Page Title="" Language="C#" MasterPageFile="~/NewSite/NewDesign.master" AutoEventWireup="true" CodeFile="NewDesign.aspx.cs" Inherits="NewSite_NewDesign" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>

