﻿<%@ Page Title="Divorce Questions | Law Offices of Marc Grossman" Language="C#" MasterPageFile="~/MasterPages/noNav.master" AutoEventWireup="true" CodeFile="divorce-questions.aspx.cs" Inherits="divorce_divorce_questions" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainLogo" Runat="Server">
<table>
        <tr>
            <td valign="top">
               <img src="../images/video-questions-divorce.jpg" /></td>
            <td valign="top">
                <object id="Object1" data="portal.swf" 
        style="width: 473px; height: 480px; float: right" 
        type="application/x-shockwave-flash">
		<param name="movie" value="portal.swf" />
</object>


</td>
        </tr>
        </table>
</asp:Content>

