﻿<%@ Page Title="Baldwin Park Bankruptcy Attorney, Lawyer" Language="C#" MasterPageFile="~/MasterPages/SiteMainInternal.master" AutoEventWireup="true" CodeFile="baldwin-park.aspx.cs" Inherits="los_angeles_baldwin_park" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainLogo" Runat="Server">
<img src="../images/california-lawyers.jpg" title="Baldwin Park Bankruptcy" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitleH1" Runat="Server">
<h1 id="pageTitle">Baldwin Park Bankruptcy Lawyer</h1>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" Runat="Server">
<p>Considering Bankruptcy in Baldwin Park? FREE Initial Consultation</p>
<p>La Puente Office<br />
13052 Valley Blvd. <br />
La Puente, CA 91746<br />
Phone: 888-407-9068<br />
Office Hours: 9:00 a.m. - 5:00 p.m.</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=baldwin+park+ca&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FacZCAIdPg_4-Cm5rC66gNfCgDH_FxpAwptWCg%3BFfuXBwIdt3P3-Ck9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=34.093195,-117.95658&amp;sspn=0.102069,0.181789&amp;ie=UTF8&amp;ll=34.06869,-117.983245&amp;spn=0.03318,0.04471&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=baldwin+park+ca&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FacZCAIdPg_4-Cm5rC66gNfCgDH_FxpAwptWCg%3BFfuXBwIdt3P3-Ck9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=34.093195,-117.95658&amp;sspn=0.102069,0.181789&amp;ie=UTF8&amp;ll=34.06869,-117.983245&amp;spn=0.03318,0.04471" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</asp:Content>
