﻿<%@ Page Title="Claremont Bankruptcy Attorney, Lawyer" Language="C#" MasterPageFile="~/MasterPages/SiteMainInternal.master" AutoEventWireup="true" CodeFile="claremont.aspx.cs" Inherits="los_angeles_claremont" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainLogo" Runat="Server">
<img src="../images/california-lawyers.jpg" title="Claremont Bankruptcy" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitleH1" Runat="Server">
<h1 id="pageTitle">Claremont Bankruptcy Lawyer</h1>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" Runat="Server">
<p>Considering Bankruptcy in Claremont? FREE Initial Consultation</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=claremont,+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FSRGCAIdHr37-Clf9qd7lDrDgDFNN7wqid161Q%3BFfuXBwIdt3P3-Ck9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=33.955805,-118.052895&amp;sspn=0.204469,0.363579&amp;ie=UTF8&amp;ll=33.956176,-118.052559&amp;spn=0.04452,0.28629&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=claremont,+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FSRGCAIdHr37-Clf9qd7lDrDgDFNN7wqid161Q%3BFfuXBwIdt3P3-Ck9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=33.955805,-118.052895&amp;sspn=0.204469,0.363579&amp;ie=UTF8&amp;ll=33.956176,-118.052559&amp;spn=0.04452,0.28629" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</asp:Content>


