﻿<%@ Page Title="Diamond Bar Bankruptcy Attorney, Lawyer" Language="C#" MasterPageFile="~/MasterPages/SiteMainInternal.master" AutoEventWireup="true" CodeFile="diamond-bar.aspx.cs" Inherits="los_angeles_diamond_bar" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainLogo" Runat="Server">
<img src="../images/california-lawyers.jpg" title="Diamond Bar Bankruptcy" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitleH1" Runat="Server">
<h1 id="pageTitle">Diamond Bar Bankruptcy Lawyer</h1>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" Runat="Server">
<p>Considering Bankruptcy in Diamond Bar? FREE Initial Consultation</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=diamond+bar,+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FU88BwIdX1v6-CmpKfdCjizDgDGp133RKMCI6g%3BFfuXBwIdt3P3-Ck9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=34.03708,-118.19972&amp;sspn=0.408545,0.727158&amp;ie=UTF8&amp;ll=34.02366,-117.917635&amp;spn=0.05886,0.21451&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=diamond+bar,+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FU88BwIdX1v6-CmpKfdCjizDgDGp133RKMCI6g%3BFfuXBwIdt3P3-Ck9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=34.03708,-118.19972&amp;sspn=0.408545,0.727158&amp;ie=UTF8&amp;ll=34.02366,-117.917635&amp;spn=0.05886,0.21451" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</asp:Content>

