﻿<%@ Page Title="Duarte Bankruptcy Attorney, Lawyer" Language="C#" MasterPageFile="~/MasterPages/SiteMainInternal.master" AutoEventWireup="true" CodeFile="duarte.aspx.cs" Inherits="los_angeles_duarte" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainLogo" Runat="Server">
<img src="../images/california-lawyers.jpg" title="Duarte Bankruptcy" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitleH1" Runat="Server">
<h1 id="pageTitle">Duarte Bankruptcy Lawyer</h1>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" Runat="Server">
<p>Considering Bankruptcy in Duarte? FREE Initial Consultation</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=duarte,+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FTvtCAIdOc_3-CmlMVI9XfHCgDHtcpVY_nw-0g%3BFfuXBwIdt3P3-Ck9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=33.996035,-118.069382&amp;sspn=0.204372,0.363579&amp;ie=UTF8&amp;ll=34.09589,-117.980645&amp;spn=0.08758,0.04991&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=duarte,+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FTvtCAIdOc_3-CmlMVI9XfHCgDHtcpVY_nw-0g%3BFfuXBwIdt3P3-Ck9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=33.996035,-118.069382&amp;sspn=0.204372,0.363579&amp;ie=UTF8&amp;ll=34.09589,-117.980645&amp;spn=0.08758,0.04991" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</asp:Content>

