﻿<%@ Page Title="El Monte Bankruptcy Attorney, Lawyer" Language="C#" MasterPageFile="~/MasterPages/SiteMainInternal.master" AutoEventWireup="true" CodeFile="el-monte.aspx.cs" Inherits="los_angeles_el_monte" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainLogo" Runat="Server">
<img src="../images/california-lawyers.jpg" title="El Monte Bankruptcy" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitleH1" Runat="Server">
<h1 id="pageTitle">El Monte Bankruptcy Lawyer</h1>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" Runat="Server">
<p>Considering Bankruptcy in El Monte? FREE Initial Consultation</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=el+monte,+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FY3YBwId0Qr3-Cnv0PZjpNDCgDFNN7CljgEPaw%3BFfuXBwIdt3P3-Ck9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=34.09589,-117.980645&amp;sspn=0.102066,0.181789&amp;ie=UTF8&amp;ll=34.06054,-118.01445&amp;spn=0.01688,0.02752&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=el+monte,+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FY3YBwId0Qr3-Cnv0PZjpNDCgDFNN7CljgEPaw%3BFfuXBwIdt3P3-Ck9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=34.09589,-117.980645&amp;sspn=0.102066,0.181789&amp;ie=UTF8&amp;ll=34.06054,-118.01445&amp;spn=0.01688,0.02752" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</asp:Content>


