﻿<%@ Page Title="El Segundo" Language="C#" MasterPageFile="~/MasterPages/SiteMainInternal.master" AutoEventWireup="true" CodeFile="el-segundo.aspx.cs" Inherits="los_angeles_el_segundo" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainLogo" Runat="Server">
<img src="../images/california-lawyers.jpg" title="El Segundo Bankruptcy" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitleH1" Runat="Server">
<h1 id="pageTitle">El Segundo Bankruptcy Lawyer</h1>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" Runat="Server">
<p>Considering Bankruptcy in El Segundo? FREE Initial Consultation</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=el+segundo,+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FcyQBQIdrxvx-CmtPNIZR7HCgDG22Yu8x2IFjA%3BFfuXBwIdt3P3-Ck9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=34.06054,-118.01445&amp;sspn=0.025527,0.045447&amp;ie=UTF8&amp;ll=33.98198,-118.20893&amp;spn=0.14222,0.41648&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=el+segundo,+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FcyQBQIdrxvx-CmtPNIZR7HCgDG22Yu8x2IFjA%3BFfuXBwIdt3P3-Ck9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=34.06054,-118.01445&amp;sspn=0.025527,0.045447&amp;ie=UTF8&amp;ll=33.98198,-118.20893&amp;spn=0.14222,0.41648" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</asp:Content>

