﻿<%@ Page Title="Hermosa Beach" Language="C#" MasterPageFile="~/MasterPages/SiteMainInternal.master" AutoEventWireup="true" CodeFile="hermosa-beach.aspx.cs" Inherits="los_angeles_hermosa_beach" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainLogo" Runat="Server">
<img src="../images/california-lawyers.jpg" title="Hermosa Beach Bankruptcy" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitleH1" Runat="Server">
<h1 id="pageTitle">Hermosa Beach Bankruptcy Lawyer</h1>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" Runat="Server">
<p>Considering Bankruptcy in Hermosa Beach? FREE Initial Consultation</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=hermosa+beach,+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FV2yBAId4V3x-CmtObvhfrPCgDFAzr9xMk4SKw%3BFfuXBwIdt3P3-Ck9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=33.98198,-118.17663&amp;sspn=0.204406,0.363579&amp;ie=UTF8&amp;ll=33.957665,-118.200105&amp;spn=0.19085,0.39883&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=hermosa+beach,+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FV2yBAId4V3x-CmtObvhfrPCgDFAzr9xMk4SKw%3BFfuXBwIdt3P3-Ck9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=33.98198,-118.17663&amp;sspn=0.204406,0.363579&amp;ie=UTF8&amp;ll=33.957665,-118.200105&amp;spn=0.19085,0.39883" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</asp:Content>


