﻿<%@ Page Title="Industry Bankruptcy Attorney, Lawyer" Language="C#" MasterPageFile="~/MasterPages/SiteMainInternal.master" AutoEventWireup="true" CodeFile="industry.aspx.cs" Inherits="los_angeles_industry" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainLogo" Runat="Server">
<img src="../images/california-lawyers.jpg" title="Industry Bankruptcy" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitleH1" Runat="Server">
<h1 id="pageTitle">Industry Bankruptcy Lawyer</h1>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" Runat="Server">
<p>Considering Bankruptcy in Industry? FREE Initial Consultation</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=industry,+ca&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FZYZBwId7Rf4-CmlOlYgD9bCgDFidOrIKhYsiw%3BFfuXBwIdt3P3-Ck9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=34.019657,-117.958832&amp;sspn=0.40863,0.727158&amp;ie=UTF8&amp;ll=34.030215,-117.99169&amp;spn=0.04575,0.0664&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=industry,+ca&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FZYZBwId7Rf4-CmlOlYgD9bCgDFidOrIKhYsiw%3BFfuXBwIdt3P3-Ck9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=34.019657,-117.958832&amp;sspn=0.40863,0.727158&amp;ie=UTF8&amp;ll=34.030215,-117.99169&amp;spn=0.04575,0.0664" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</asp:Content>


