﻿<%@ Page Title="La Mirada Bankruptcy Attorney, Lawyer" Language="C#" MasterPageFile="~/MasterPages/SiteMainInternal.master" AutoEventWireup="true" CodeFile="la-mirada.aspx.cs" Inherits="los_angeles_la_mirada" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainLogo" Runat="Server">
<img src="../images/california-lawyers.jpg" title="La Mirada Bankruptcy" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitleH1" Runat="Server">
<h1 id="pageTitle">La Mirada Bankruptcy Lawyer</h1>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" Runat="Server">
<p>Considering Bankruptcy in La Mirada? FREE Initial Consultation</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=la+mirada+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FTSJBQIdl0f3-ClhRDARXSvdgDHd9kTyE3Qr6Q%3BFfaXBwIdv3P3-CF7W1mwRlBaESk9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=34.00441,-117.987765&amp;sspn=0.102176,0.181789&amp;ie=UTF8&amp;ll=33.985055,-118.048075&amp;spn=0.13607,0.09477&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=la+mirada+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FTSJBQIdl0f3-ClhRDARXSvdgDHd9kTyE3Qr6Q%3BFfaXBwIdv3P3-CF7W1mwRlBaESk9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=34.00441,-117.987765&amp;sspn=0.102176,0.181789&amp;ie=UTF8&amp;ll=33.985055,-118.048075&amp;spn=0.13607,0.09477" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</asp:Content>

