﻿<%@ Page Title="Lakewood Bankruptcy Attorney, Lawyer" Language="C#" MasterPageFile="~/MasterPages/SiteMainInternal.master" AutoEventWireup="true" CodeFile="lakewood.aspx.cs" Inherits="los_angeles_lakewood" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainLogo" Runat="Server">
<img src="../images/california-lawyers.jpg" title="Lakewood Bankruptcy" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitleH1" Runat="Server">
<h1 id="pageTitle">Lakewood Bankruptcy Lawyer</h1>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" Runat="Server">
<p>Considering Bankruptcy in Lakewood? FREE Initial Consultation</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=lakewood+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FbuQBAIdPGv1-CkdgajkXzLdgDHFeMkpYKhbxw%3BFfaXBwIdv3P3-CF7W1mwRlBaESk9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=34.07655,-117.886734&amp;sspn=0.204178,0.363579&amp;ie=UTF8&amp;ll=34.076266,-117.887077&amp;spn=0.19942,0.14182&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=lakewood+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FbuQBAIdPGv1-CkdgajkXzLdgDHFeMkpYKhbxw%3BFfaXBwIdv3P3-CF7W1mwRlBaESk9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=34.07655,-117.886734&amp;sspn=0.204178,0.363579&amp;ie=UTF8&amp;ll=34.076266,-117.887077&amp;spn=0.19942,0.14182" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</asp:Content>

