﻿<%@ Page Title="Long Beach Bankruptcy Attorney, Lawyer" Language="C#" MasterPageFile="~/MasterPages/SiteMainInternal.master" AutoEventWireup="true" CodeFile="long-beach.aspx.cs" Inherits="los_angeles_long_beach" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainLogo" Runat="Server">
<img src="../images/california-lawyers.jpg" title="Long Beach Heights Bankruptcy" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitleH1" Runat="Server">
<h1 id="pageTitle">Long Beach Heights Bankruptcy Lawyer</h1>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" Runat="Server">
<p>Considering Bankruptcy in Long Beach? FREE Initial Consultation</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=long+beach+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FTI-AwIdTZP0-ClZ15lA6MrCgDGqjyrE-joAoQ%3BFfaXBwIdv3P3-CF7W1mwRlBaESk9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=33.920995,-118.15788&amp;sspn=0.409104,0.727158&amp;ie=UTF8&amp;ll=33.920002,-118.153152&amp;spn=0.28615,0.20804&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=long+beach+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FTI-AwIdTZP0-ClZ15lA6MrCgDGqjyrE-joAoQ%3BFfaXBwIdv3P3-CF7W1mwRlBaESk9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=33.920995,-118.15788&amp;sspn=0.409104,0.727158&amp;ie=UTF8&amp;ll=33.920002,-118.153152&amp;spn=0.28615,0.20804" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</asp:Content>

