﻿<%@ Page Title="Manhattan Beach Bankruptcy Attorney, Lawyer" Language="C#" MasterPageFile="~/MasterPages/SiteMainInternal.master" AutoEventWireup="true" CodeFile="manhattan-beach.aspx.cs" Inherits="los_angeles_manhattan_beach" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainLogo" Runat="Server">
<img src="../images/california-lawyers.jpg" title="Manhattan Beach Bankruptcy" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitleH1" Runat="Server">
<h1 id="pageTitle">Malibu Bankruptcy Lawyer</h1>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" Runat="Server">
<p>Considering Bankruptcy in Manhattan Beach? FREE Initial Consultation</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=Manhattan+Beach,+Los+Angeles,+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FUAKBQIdYzHx-CkvY7DixbPCgDEgRRX01FEDBw%3BFfaXBwIdv3P3-CF7W1mwRlBaESk9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=pe&amp;mrcr=0&amp;sll=33.946908,-118.231705&amp;sspn=0.40898,0.727158&amp;ie=UTF8&amp;ll=33.949056,-118.228683&amp;spn=0.1684,0.41019&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=Manhattan+Beach,+Los+Angeles,+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FUAKBQIdYzHx-CkvY7DixbPCgDEgRRX01FEDBw%3BFfaXBwIdv3P3-CF7W1mwRlBaESk9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=pe&amp;mrcr=0&amp;sll=33.946908,-118.231705&amp;sspn=0.40898,0.727158&amp;ie=UTF8&amp;ll=33.949056,-118.228683&amp;spn=0.1684,0.41019" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</asp:Content>

