﻿<%@ Page Title="Paramount Bankruptcy Attorney, Lawyer" Language="C#" MasterPageFile="~/MasterPages/SiteMainInternal.master" AutoEventWireup="true" CodeFile="paramount.aspx.cs" Inherits="los_angeles_paramount" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainLogo" Runat="Server">
<img src="../images/california-lawyers.jpg" title="Paramount Bankruptcy" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitleH1" Runat="Server">
<h1 id="pageTitle">Paramount Bankruptcy Lawyer</h1>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" Runat="Server">
<p>Considering Bankruptcy in Paramount? FREE Initial Consultation</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=paramount+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FbQcBQIdUQb1-CkzMsu03czCgDFXL4XymZuh0w%3BFfaXBwIdv3P3-CF7W1mwRlBaESk9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=33.920995,-118.19562&amp;sspn=0.409104,0.727158&amp;ie=UTF8&amp;ll=33.971275,-118.08043&amp;spn=0.16363,0.15948&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=paramount+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FbQcBQIdUQb1-CkzMsu03czCgDFXL4XymZuh0w%3BFfaXBwIdv3P3-CF7W1mwRlBaESk9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=33.920995,-118.19562&amp;sspn=0.409104,0.727158&amp;ie=UTF8&amp;ll=33.971275,-118.08043&amp;spn=0.16363,0.15948" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</asp:Content>

