﻿<%@ Page Title="Redondo Beach Bankruptcy Attorney, Lawyer" Language="C#" MasterPageFile="~/MasterPages/SiteMainInternal.master" AutoEventWireup="true" CodeFile="redondo-beach.aspx.cs" Inherits="los_angeles_redondo_beach" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainLogo" Runat="Server">
<img src="../images/california-lawyers.jpg" title="Redondo Beach Bankruptcy" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitleH1" Runat="Server">
<h1 id="pageTitle">Redondo Beach Bankruptcy Lawyer</h1>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" Runat="Server">
<p>Considering Bankruptcy in Redondo Beach? FREE Initial Consultation</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=redondo+beach+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FV5_BAIdSInx-CkTuUlDkbTCgDFl8RxU2_jP_w%3BFfaXBwIdv3P3-CF7W1mwRlBaESk9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=33.88802,-118.19377&amp;sspn=0.409262,0.727158&amp;ie=UTF8&amp;ll=33.892077,-118.193665&amp;spn=0.204,0.39552&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=redondo+beach+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FV5_BAIdSInx-CkTuUlDkbTCgDFl8RxU2_jP_w%3BFfaXBwIdv3P3-CF7W1mwRlBaESk9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=33.88802,-118.19377&amp;sspn=0.409262,0.727158&amp;ie=UTF8&amp;ll=33.892077,-118.193665&amp;spn=0.204,0.39552" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</asp:Content>

