﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/SiteMainInternal.master" AutoEventWireup="true" CodeFile="rolling-hills.aspx.cs" Inherits="los_angeles_rolling_hills" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainLogo" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitleH1" Runat="Server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" Runat="Server">
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=rolling+hills+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FSEXAwId1w_y-CkterIMLErdgDFnRnTWz1Eqsg%3BFfaXBwIdv3P3-CF7W1mwRlBaESk9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=33.920572,-118.179245&amp;sspn=0.409106,0.727158&amp;ie=UTF8&amp;ll=33.918862,-118.179245&amp;spn=0.2976,0.35324&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=rolling+hills+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FSEXAwId1w_y-CkterIMLErdgDFnRnTWz1Eqsg%3BFfaXBwIdv3P3-CF7W1mwRlBaESk9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=33.920572,-118.179245&amp;sspn=0.409106,0.727158&amp;ie=UTF8&amp;ll=33.918862,-118.179245&amp;spn=0.2976,0.35324" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</asp:Content>

