﻿<%@ Page Title="Santa Clarita" Language="C#" MasterPageFile="~/MasterPages/SiteMainInternal.master" AutoEventWireup="true" CodeFile="santa-clarita.aspx.cs" Inherits="los_angeles_santa_clarita" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainLogo" Runat="Server">
<img src="../images/california-lawyers.jpg" title="Santa Clarita Bankruptcy" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitleH1" Runat="Server">
<h1 id="pageTitle">Santa Clarita Bankruptcy Lawyer</h1>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" Runat="Server">
<p>Considering Bankruptcy in Santa Clarita? FREE Initial Consultation</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=santa+clarita+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FXDGDAIdBi_v-CknGNWsM4bCgDFI1gVz4I9KVg%3BFfaXBwIdv3P3-CF7W1mwRlBaESk9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=34.087924,-118.053417&amp;sspn=0.102075,0.181789&amp;ie=UTF8&amp;ll=34.20961,-118.271385&amp;spn=0.36322,0.54139&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=santa+clarita+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FXDGDAIdBi_v-CknGNWsM4bCgDFI1gVz4I9KVg%3BFfaXBwIdv3P3-CF7W1mwRlBaESk9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=34.087924,-118.053417&amp;sspn=0.102075,0.181789&amp;ie=UTF8&amp;ll=34.20961,-118.271385&amp;spn=0.36322,0.54139" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</asp:Content>

