﻿<%@ Page Title="Santa Monica Bankruptcy Attorney, Lawyer" Language="C#" MasterPageFile="~/MasterPages/SiteMainInternal.master" AutoEventWireup="true" CodeFile="santa-monica.aspx.cs" Inherits="los_angeles_santa_monica" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainLogo" Runat="Server">
<img src="../images/california-lawyers.jpg" title="Santa Monica Bankruptcy" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitleH1" Runat="Server">
<h1 id="pageTitle">Santa Monica Bankruptcy Lawyer</h1>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" Runat="Server">
<p>Considering Bankruptcy in Santa Monica? FREE Initial Consultation</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=santa+monica+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FX4YBwIdyffv-CkZAJHCzqTCgDGr9SP_tQoXtA%3BFfaXBwIdv3P3-CF7W1mwRlBaESk9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=34.20961,-118.271385&amp;sspn=0.407714,0.727158&amp;ie=UTF8&amp;ll=34.207827,-118.271255&amp;spn=0.03855,0.49058&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=santa+monica+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FX4YBwIdyffv-CkZAJHCzqTCgDGr9SP_tQoXtA%3BFfaXBwIdv3P3-CF7W1mwRlBaESk9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=34.20961,-118.271385&amp;sspn=0.407714,0.727158&amp;ie=UTF8&amp;ll=34.207827,-118.271255&amp;spn=0.03855,0.49058" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</asp:Content>

