﻿<%@ Page Title="Westlake Village Bankruptcy Attorney, Lawyer" Language="C#" MasterPageFile="~/MasterPages/SiteMainInternal.master" AutoEventWireup="true" CodeFile="westlake-village.aspx.cs" Inherits="los_angeles_westlake_village" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainLogo" Runat="Server">
<img src="../images/california-lawyers.jpg" title="Westlake Village Bankruptcy" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitleH1" Runat="Server">
<h1 id="pageTitle">Westlake Village Bankruptcy Lawyer</h1>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" Runat="Server">
<p>Considering Bankruptcy in Westlake Village? FREE Initial Consultation</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=westlake+village+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FS8GCQIdcSvr-CkJ6zJOejrogDEE1-KUDEtX2w%3BFfaXBwIdv3P3-CF7W1mwRlBaESk9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=34.059405,-118.18111&amp;sspn=0.204219,0.363579&amp;ie=UTF8&amp;ll=34.10077,-118.40316&amp;spn=0.14554,0.80494&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=westlake+village+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=FS8GCQIdcSvr-CkJ6zJOejrogDEE1-KUDEtX2w%3BFfaXBwIdv3P3-CF7W1mwRlBaESk9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=34.059405,-118.18111&amp;sspn=0.204219,0.363579&amp;ie=UTF8&amp;ll=34.10077,-118.40316&amp;spn=0.14554,0.80494" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</asp:Content>
