﻿<%@ Page Title="West Hollywood Bankruptcy Attorney, Lawyer" Language="C#" MasterPageFile="~/MasterPages/SiteMainInternal.master" AutoEventWireup="true" CodeFile="west-hollywood.aspx.cs" Inherits="los_angeles_west_hollywood" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainLogo" Runat="Server">
<img src="../images/california-lawyers.jpg" title="West Hollywood Bankruptcy" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitleH1" Runat="Server">
<h1 id="pageTitle">Malibu Bankruptcy Lawyer</h1>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" Runat="Server">
<p>Considering Bankruptcy in West Hollywood? FREE Initial Consultation</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=west+hollywood+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=%3BFfaXBwIdv3P3-CF7W1mwRlBaESk9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=34.06341,-117.972135&amp;sspn=0.051052,0.090895&amp;ie=UTF8&amp;ll=34.059405,-118.18111&amp;spn=0.06281,0.36084&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=west+hollywood+California&amp;daddr=13052+Valley+Blvd.++La+Puente,+CA+91746&amp;hl=en&amp;geocode=%3BFfaXBwIdv3P3-CF7W1mwRlBaESk9yPd0JNfCgDEJ6vpDE9XEzg&amp;mra=ls&amp;sll=34.06341,-117.972135&amp;sspn=0.051052,0.090895&amp;ie=UTF8&amp;ll=34.059405,-118.18111&amp;spn=0.06281,0.36084" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</asp:Content>
