﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="oopsError.aspx.cs" Inherits="ooopsError" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
</head>
<body style="background-color:#193441">
    <form id="form1" runat="server">
    <div >
     <h1 style="color:White">There has been an error. We are so sorry for this and will have the issue solved shortly. You can go back to the 
    <a href="http://www.wefight4you.com/" rel="nofollow">homepage</a>.</h1>
    </div>
    </form>
</body>
</html>
