﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Divorce.master.cs" Inherits="MasterPages_Divorce" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <link href="~/css/site_working.css" rel="stylesheet" type="text/css"  media="all"/>
  
    </head>

<body class="design home">
    <form id="form1" runat="server">
    <div id="containerPage">
    <img src="http://www.wefight4you.com/images/printBanner.gif" id="printBanner" class="printElement" alt="" runat="server" />
    <div class="handheldElement"></div>
<div class="lock">
	<div id="bgBar"></div>
</div>

	<div id="banner">
		<div id="containerFlash">
			<img src="http://www.wefight4you.com/images/lettermark.gif" id="lettermark" width="43" height="87" 
                alt="" runat="server" />
			<img src="http://www.wefight4you.com/images/logo.gif" id="logo" width="333" height="72" 
                alt="Law Office of Marc E. Grossman" 
                style="left: 119px; top: 46px" runat="server" />
		</div>
	<br />	
		<br />	
		<div id="navigationMain">
						<ul>
				<li><a href="http://www.wefight4you.com/" title="California Divorce Attorneys & Lawyers"><img src="http://www.wefight4you.com/images/n-main-home.gif" id="homepage" width="145" height="22" alt="Home Page" />
				</a></li>
				<li><a href="http://www.wefight4you.com/Firm-Overview/Default.aspx">
				<img src="http://www.wefight4you.com/images/n-main-firm.gif" id="firmoverview" width="145" height="22" alt="Firm Overview" /></a></li>
				<li><a href="http://www.wefight4you.com/attorneys/Default.aspx">
				<img src="http://www.wefight4you.com/images/n-main-atto.gif" id="attorneyprofiles" width="145" height="22" alt="Attorney Profiles" /></a></li>
				<li><a href="http://www.wefight4you.com/Practice-Areas/Default.aspx">
				<img src="http://www.wefight4you.com/images/n-main-prac.gif" id="practiceareas" width="145" height="22" alt="Practice Areas" /></a></li>
				<li><a href="http://www.wefight4you.com/blog/">
				<img src="http://www.wefight4you.com/images/blog-nav.jpg" id="Img1" width="145" height="22" alt="Blog" runat="server" /></a></li>
				<li><a href="http://www.wefight4you.com/Forms/Contact.aspx" rel="nofollow">
				<img src="http://www.wefight4you.com/images/n-main-cont.gif" id="contactus" width="145" height="22" alt="Contact Us" /></a></li>
			</ul>
		</div>
	</div>
	<p style="color:White">
	<asp:SiteMapPath ID="SiteMapPath1" runat="server">  
        </asp:SiteMapPath>  
        
        <asp:SiteMapDataSource ID="SiteMapDataSource1" runat="server" /> 
	</p>
	<div id="header">
        <a href="http://www.wefight4you.com/" title="divorce lawyers">
	<p style="text-align:center">
                <img src="http://www.wefight4you.com/images/teamofattorneys2.jpg" alt="Divorce Attorneys" height="244px" width="800px"/></a></p>
	</div>
	<div id="containerColumns">
		<div id="columnMain">
			<div id="containerPageTitle">
              <asp:ContentPlaceHolder ID="PageTitleH1" runat="server">
				<h1 id="pageTitle">Welcome</h1>
				 </asp:ContentPlaceHolder>	 
			</div>
			<div id="content">
				<!-- ### START CONTENT ### -->
                <asp:ContentPlaceHolder ID="MainContent" runat="server">
                </asp:ContentPlaceHolder>
	<!-- ### END CONTENT ### -->
			</div>
		</div>
		<div id="columnSide">
			<div id="navigationPractice">
                <br />
<p style="margin-left:29px; color:white;"><b>Divorce Attorney Marc Grossman</b></p>
    <p style="margin-left:29px;"><object width="200" height="170"><param name="movie" value="http://www.youtube.com/v/xf7V_0L2EK0&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/xf7V_0L2EK0&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="200" height="170"></embed></object></p>
    <br />
    <p style="margin-left:29px; color:white;"><b>Can you file for divorce without going to court?</b></p>
    <p style="margin-left:29px;"><object width="200" height="170"><param name="movie" value="http://www.youtube.com/v/SYdHd_D2GWI&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/SYdHd_D2GWI&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="200" height="170"></embed></object></p>
    <br />
    <p style="margin-left:29px; color:white;"><b>How Much Does a Divorce Cost?</b></p>
    <p style="margin-left:29px;"><object width="200" height="170"><param name="movie" value="http://www.youtube.com/v/5J-W3TaXe1Y&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/5J-W3TaXe1Y&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="200" height="170"></embed></object></p>
    <br />
    <p style="margin-left:29px; color:white;"><b>How Does the California Community property system work?</b></p>
    <p style="margin-left:29px;"><object width="200" height="170"><param name="movie" value="http://www.youtube.com/v/7YZhb5UHXzc&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/7YZhb5UHXzc&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="200" height="170"></embed></object></p>
    <br />
    <p style="margin-left:29px; color:white;"><b>What are parents Child support rights in California?</b></p>
    <p style="margin-left:29px;"><object width="200" height="170"><param name="movie" value="http://www.youtube.com/v/KwJ_7szFMTw&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/KwJ_7szFMTw&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="200" height="170"></embed></object></p>
			  <h3 style="margin-left:29px; color:White">Office Locations</h3>
<h3 style="text-align:left; margin-left:29px">Upland Office</h3>
<p style="margin-left:29px; color:White">100 N. Euclid Ave.
<br> 
	<p style="margin-left:29px; color:White">100 N. Euclid Ave.<br />
	Upland, CA 91786<br />
	Phone: 888-407-9068<br />
	Office Hours: 9:00 a.m. - 5:00 p.m.<br />
	</p>
<h3 style="text-align:left; margin-left:29px">Chino Hills Office</h3>
<p style="margin-left:29px; color:White">5811 Pine Avenue, Chino Hills, CA 91709<br />
Phone: 888-407-9068<br />
</p>
<h3 style="text-align:left; margin-left:29px">La Puente Office</h3>
<p style="margin-left:29px; color:White">13052 Valley Blvd. <br>
  La Puente, CA 91746<br />
Phone: 888-407-9068<br />
Office Hours: 9:00 a.m. - 5:00 p.m.
</p>

<h3 style="text-align:left; margin-left:29px">Palm Desert Office</h3>
<p style="margin-left:29px; color:White">
72960 Fred Waring Drive<br> 
Palm Desert, CA 92260<br />
Phone: 888-407-9068<br />
Office Hours: 9:00 a.m. - 5:00 p.m.<br />
</p>

<h3 style="text-align:left; margin-left:29px">Van Nuys Office</h3>
<p style="margin-left:29px; color:White">
16600 Sherman Way<br> 
Van Nuys, CA 91406<br />
Phone: 888-407-9068<br />
Office Hours: 9:00 a.m. - 5:00 p.m.</p>
<h3 style="margin-left:29px; color:White">Locations We Serve</h3>
<ul>	
            <li><a href="http://www.wefight4you.com/divorce/alta-loma.aspx" title="Alta Loma Divorce Attorney" style="text-decoration: none;"> Alta Loma</a></li>
			<li><a href="http://www.wefight4you.com/divorce/claremont.aspx" title="Claremont Divorce Attorney" style="text-decoration: none;">Claremont</a></li>
			<li><a href="http://www.wefight4you.com/lawyer/chino.aspx" title="Chino Divorce Attorney" style="text-decoration: none;">Chino</a></li>
			<li><a href="http://www.wefight4you.com/divorce/chino-hills.aspx" title="Chino Hills Divorce Attorney" style="text-decoration: none;">Chino Hills</a></li>
			<li><a href="http://www.wefight4you.com/divorce/corona.aspx" title="Corona Divorce Attorney" style="text-decoration: none;">Corona</a></li>
			<li><a href="http://www.wefight4you.com/lawyer/diamond-bar.aspx" title="Diamond Bar Divorce Attorney" style="text-decoration: none;">Diamond Bar</a></li>						
			<li><a href="http://www.wefight4you.com/lawyer/fontana.aspx" title="Fontana Divorce Attorney"  style="text-decoration: none;">Fontana</a></li>		
			<li><a href="http://www.wefight4you.com/lawyer/glendora.aspx" title="Glendora Divorce Attorney"  style="text-decoration: none;">Glendora</a></li>		
			<li><a href="http://www.wefight4you.com/lawyer/la-puente.aspx" title="La Puente Workers Comp Attorney" style="text-decoration: none;">La Puente</a></li>
			<li><a href="http://www.wefight4you.com/lawyer/la-verne.aspx" title="La Verne Divorce Attorney" style="text-decoration: none;"> La Verne</a></li>
			<li><a href="http://www.wefight4you.com/lawyer/mira-loma.aspx" title="Mira Loma Divorce Attorney" style="text-decoration: none;"> Mira Loma</a></li>
			<li><a href="http://www.wefight4you.com/lawyer/montclair.aspx" title="Montclair Divorce Attorney" style="text-decoration: none;">Montclair</a></li>
			<li><a href="http://www.wefight4you.com/lawyer/ontario.aspx" title="Ontario Divorce Attorney" style="text-decoration: none;">Ontario</a></li>
			<li><a href="http://www.wefight4you.com/lawyer/pomona.aspx" title="Pomona Divorce Attorney" style="text-decoration: none;">Pomona</a></li>
			<li><a href="http://www.wefight4you.com/lawyer/rancho-cucamonga.aspx" title="Rancho Cucamonga Divorce Attorney" style="text-decoration: none;">Rancho Cucamonga</a></li>
			<li><a href="http://www.wefight4you.com/lawyer/riverside.aspx" title="Riverside Divorce Attorney" style="text-decoration: none;">Riverside</a></li>
			<li><a href="http://www.wefight4you.com/lawyer/san-bernardino.aspx" title="San Bernardino Divorce Attorneys" style="text-decoration: none;">San Bernardino</a></li>
			<li><a href="http://www.wefight4you.com/lawyer/san-dimas.aspx" title="San Dimas Divorce Attorney" style="text-decoration: none;"> San Dimas</a></li>
			<li><a href="http://www.wefight4you.com/lawyer/upland.aspx" title="Upland Divorce Attorney" style="border-bottom-width: 0; text-decoration: none;">Upland</a></li>
</ul>
			</div>
			<div id="navigationFeatures" class="clearfix">	
			</div>			
		</div>
	</div>
</div>
<div id="footerWrap">
	<div id="lowerWrap">
		<div id="navigationLower">&nbsp;<a href="http://www.wefight4you.com/bankruptcy/Default.aspx" title="California Bankruptcy">California Bankruptcy</a> <a href="http://www.wefight4you.com/attorneys/Default.aspx" rel="nofollow">Attorney Profiles</a> <a href="http://www.wefight4you.com/divorce/Default.aspx" title="California Divorce">California Divorce</a> <a href="http://www.wefight4you.com/workers-compensation/Default.aspx">Workers Compensation</a> <a href="http://www.wefight4you.com/sitemap.aspx">Sitemap</a></div>
	</div>
	<div id="footer" class="clearfix">
		<div id="contactInformation">
<p><strong>Law Office of Marc E. Grossman</strong><br />
100 N. Euclid Ave.<br />
Upland, CA 91786<br />
Toll Free: 888-407-9068<br />
            </p>
		</div>
		<div id="geographicalFooter">
		<img src="http://www.wefight4you.com/images/logoSmall.gif" id="smalllogo" width="289" height="46" alt="MG - Law Office of Marc E. Grossman" /><br />
<p>The Law Office of Marc E. Grossman serves 
    <a href="http://www.wefight4you.com/lawyer/upland.aspx" title="California divorce clients in Upland">California divorce clients in Upland</a> and the surrounding parts of the Inland Empire area of California.</p>
		</div>
	</div>
	<div id="finePrintWrap">
		<div id="finePrint">
			<p id="copyright">&#169; 2009 by <a href="http://www.wefight4you.com/" title="Upland Attorney">Law Office of Marc E. Grossman</a>. All rights reserved. <a href="http://www.wefight4you.com/disclaimer.aspx" rel="nofollow">Disclaimer</a></p>
			<p id="branding">&nbsp;</p>
		</div>
		<br class="clear">
	</div>
</div>
<%--<script language="JavaScript1.2" type="text/javascript"> preroll(); </script>--%>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1368144-9");
pageTracker._trackPageview();
} catch(err) {}</script>
    </form>
</body>
</html>