﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="noNav.master.cs" Inherits="MasterPages_noNav" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
   <link href="~/css/site_working.css" rel="stylesheet" type="text/css"  media="all"/>
    <link href="~/css/print.css" rel="stylesheet" type="text/css" media="print" />
    <link href="~/css/handheld.css" rel="stylesheet" type="text/css"  media="handheld"/>
    </head>

<body class="design home">
    <form id="form1" runat="server">
     <div id="containerPage">
    <img src="../images/printBanner.gif" id="printBanner" class="printElement" alt="" runat="server" />
    <div class="handheldElement"></div>
<div class="lock">
	<div id="bgBar"></div>
</div>

	<div id="banner">
		<div id="containerFlash">
			<img src="../images/lettermark.gif" id="lettermark" width="43" height="87" 
                alt="Law Offices of Marc Grossman Logo" runat="server" />
			<img src="../images/logo.gif" id="logo" width="333" height="72" 
                alt="Law Office of Marc E. Grossman | Upland, California - Inland Empire Attorney: Riverside, San Bernardino California" 
                style="left: 119px; top: 46px" runat="server" />
		</div>
	<br />	
		<br />	
		<div id="navigationMain">
						<ul>
				<li><a href="/">
				<img src="~/images/n-main-home.gif" id="homepage" width="145" height="22" alt="Home Page" runat="server" /></a></li>
				<li><a href="/Firm-Overview/Default.aspx">
				<img src="~/images/n-main-firm.gif" id="firmoverview" width="145" height="22" alt="Firm Overview" runat="server" /></a></li>
				<li><a href="/attorneys/Default.aspx">
				<img src="~/images/n-main-atto.gif" id="attorneyprofiles" width="145" height="22" alt="Attorney Profiles" runat="server" /></a></li>
				<li><a href="/Practice-Areas/Default.aspx">
				<img src="~/images/n-main-prac.gif" id="practiceareas" width="145" height="22" alt="Practice Areas" runat="server" /></a></li>
				<li><a href="/Forms/Contact.aspx" rel="nofollow">
				<img src="~/images/n-main-cont.gif" id="contactus" width="145" height="22" alt="Contact Us" runat="server" /></a></li>
			</ul>
		</div>
	</div>
	<div id="header">
        <asp:ContentPlaceHolder ID="MainLogo" runat="server">
        </asp:ContentPlaceHolder>
       
	</div>
     <br />
        <br />
        <br />
        <br />
        <br />
	
</div>
<%--<script language="JavaScript1.2" type="text/javascript"> preroll(); </script>--%>
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-1368144-9");
        pageTracker._trackPageview();
    } catch (err) { }</script>
<script type="text/javascript" src="silverlight.js"></script>
<script type="text/javascript">
    var hasSilverlight = Boolean(window.Silverlight);
    var hasSilverlight = hasSilverlight && Silverlight.isInstalled("1.0");
    var hasSilverlight = hasSilverlight && Silverlight.isInstalled("2.0");
    if (hasSilverlight1) {pageTracker._trackEvent("silverlight", "v1");
    if (hasSilverlight1) {pageTracker._trackEvent("silverlight", "v2");
    if (!hasSilverlight1 && !hasSilverlight2) {pageTracker._trackEvent("silverlight", "none");}
</script>
    </form>
</body>
</html>