﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="SiteVideoMain.master.cs" Inherits="MasterPages_SiteVideoMain" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <link href="~/css/site_working.css" rel="stylesheet" type="text/css"  media="all"/>

    <style type="text/css">
        .style1
        {
            width: 100%;
        }
        </style>
</head>

<body class="design home">
    <form id="form1" runat="server">
    <div id="containerPage">
    <img src="../images/printBanner.gif" id="printBanner" class="printElement" alt="" runat="server" />
    <div class="handheldElement"></div>
<div class="lock">
	<div id="bgBar"></div>
</div>

	<div id="banner">
		<div id="containerFlash">
			<img src="../images/lettermark.gif" id="lettermark" width="43" height="87" 
                alt="" runat="server" />
			<img src="../images/logo.gif" id="logo" width="333" height="72" 
                alt="Law Office of Marc E. Grossman" 
                style="left: 119px; top: 46px" runat="server" />
		</div>
	<br />	
		<br />	
		<div id="navigationMain">
						<ul>
				<li><a href="/">
				<img src="~/images/n-main-home.gif" id="homepage" width="145" height="22" alt="Home Page" runat="server" /></a></li>
				<li><a href="/Firm-Overview/Default.aspx">
				<img src="~/images/n-main-firm.gif" id="firmoverview" width="145" height="22" alt="Firm Overview" runat="server" /></a></li>
				<li><a href="/attorneys/Default.aspx">
				<img src="~/images/n-main-atto.gif" id="attorneyprofiles" width="145" height="22" alt="Attorney Profiles" runat="server" /></a></li>
				<li><a href="/Practice-Areas/Default.aspx">
				<img src="~/images/n-main-prac.gif" id="practiceareas" width="145" height="22" alt="Practice Areas" runat="server" /></a></li>
				<li><a href="http://www.wefight4you.com/blog/">
				<img src="~/images/blog-nav.jpg" id="Img1" width="145" height="22" alt="Blog" runat="server" /></a></li>
				<li><a href="/Forms/Contact.aspx" rel="nofollow">
				<img src="~/images/n-main-cont.gif" id="contactus" width="145" height="22" alt="Contact Us" runat="server" /></a></li>
			</ul>
		</div>
	</div>
	<p style="color:White">
	<asp:SiteMapPath ID="SiteMapPath1" runat="server">  
        </asp:SiteMapPath>  
        
        <asp:SiteMapDataSource ID="SiteMapDataSource1" runat="server" /> 
	</p>
<img src="/images/mainbanner.gif" alt="FREE Initial Consultation" />
	<div id="headervideo">
        <asp:ContentPlaceHolder ID="MainLogo" runat="server">
        </asp:ContentPlaceHolder>
	</div>
	<div id="containerColumns">
		<div id="columnMain">
			<div id="containerPageTitle">
              <asp:ContentPlaceHolder ID="PageTitleH1" runat="server">
				<h1 id="pageTitle">Welcome</h1>
				 </asp:ContentPlaceHolder>	 
			</div>
			<div id="content">
				<!-- ### START CONTENT ### -->
                <asp:ContentPlaceHolder ID="MainContent" runat="server">
                </asp:ContentPlaceHolder>
	<!-- ### END CONTENT ### -->
			</div>
		</div>
		<div id="columnSide">
			<div id="navigationPractice">
			<br />
				<img src="~/images/practiceTitle.gif" id="practiceTitle" width="191" 
                    height="11" alt="Legal Practice Areas" runat="server" style="padding: 0px 0px 15px 15px;" />
				<br />			
				<ul>				
<li><a class="b" href="/bankruptcy/Default.aspx" title="bankruptcy attorney" style="text-decoration: none;">Bankruptcy</a></li>
<li><a class="b"  href="/divorce/Default.aspx" title="Divorce Attorneys"  style="text-decoration: none;">Divorce</a></li>
<li> <a  class="b" href="/family-law/Default.aspx" title="family law attorneys" style="text-decoration: none;">Family Law Attorney</a></li>
<li><a class="b"  href="/workers-compensation/Default.aspx" title="workers compensation" style="text-decoration: none;">Workers Compensation</a></li>
<li><a class="b"  href="/criminal-defense/Default.aspx" title="Criminal defense attorneys" style="text-decoration: none;">Criminal Defense</a></li>
<li><a class="b" href="http://www.wefight4you.com/employment/Default.aspx" title="Employment Law Attorneys" style="text-decoration: none;">Employment</a></li>
<li><a class="b"  href="/criminal-defense/dui.aspx" title="DUI Lawyers" style="text-decoration: none;">DUI</a></li>
<li><a class="b"  href="/personal-injury/Default.aspx" title="personal injury attorneys" style="text-decoration: none;">Personal Injury</a></li>
<li><a href="/wrongful-death/Default.aspx" title="wrongful death attorneys" style="text-decoration: none;">Wrongful Death</a></li>
<li><a href="/motorcycle-accidents/Default.aspx" title="Motorcycle Accident attorneys" style="text-decoration: none;">Motorcycle Accidents</a></li>
<li><a href="/work-injury/Default.aspx" title="work injury attorneys" style="text-decoration: none;">Work Injury</a></li>
<li><a href="/immigration/Default.aspx" title="immigration attorneys" style="text-decoration: none;">Immigration</a></li>
<li><a href="/insurance-bad-faith/Default.aspx" title="insurance bad faith attorneys" style="text-decoration: none;">Insurance Bad Faith</a></li>
<li><a href="/discrimination-harassment/Default.aspx" title="discrimination and harassment attorney" style="text-decoration: none;">Discrimination & Harassment</a></li>
<li><a href="/civil-litigation/Default.aspx" title="Civil Litigation attorney" style="text-decoration: none;">Civil Litigation</a></li>
</ul>
<h3 style="margin-left:29px; color:White">En Espanol</h3>
<ul>
					<li><a href="/espanol/family-law.aspx" title="Derecho Familiar en General"  style="text-decoration: none;">Derecho Familiar en General</a></li>
					<li><a href="/espanol/divorce.aspx" title="Divorcio" style="text-decoration: none;">Divorcio</a></li>
					<li><a href="/espanol/compensacion-a-los-trabajadores.aspx" style="text-decoration: none;">Compensacion a los Trabajadores</a></li>
					<li><a href="/espanol/quiebra.aspx" style="text-decoration: none;">Quiebra</a></li>
					<li><a href="/espanol/capitulo-7.aspx" style="text-decoration: none;">Capitulo 7</a></li>
					<li><a href="/espanol/capitulo-11.aspx" style="text-decoration: none;">Capitulo 11</a></li>
					<li><a href="/espanol/capitulo-13.aspx" style="text-decoration: none;">Capitulo 13</a></li>
			  </ul>
<h3 style="margin-left:29px; color:White">Locations We Serve</h3>
<ul>	
            <li><a href="/lawyer/alta-loma.aspx" title="Alta Loma Attorney" style="text-decoration: none;"> Alta Loma</a></li>
			<li><a href="/lawyer/claremont.aspx" title="lawyer claremont" style="text-decoration: none;">Claremont</a></li>
			<li><a href="/lawyer/chino.aspx" title="lawyer chino" style="text-decoration: none;">Chino</a></li>
			<li><a href="/lawyer/chino-hills.aspx" title="lawyer chino hills" style="text-decoration: none;">Chino Hills</a></li>
			<li><a href="/lawyer/corona.aspx" title="lawyer corona" style="text-decoration: none;">Corona</a></li>
			<li><a href="/lawyer/diamond-bar.aspx" title="lawyer diamond bar">Diamond Bar</a></li>								
			<li><a href="/lawyer/fontana.aspx" title="lawyer fontana"  style="text-decoration: none;">Fontana</a></li>		
			<li><a href="/lawyer/glendora.aspx" title="lawyer glendora"  style="text-decoration: none;">Glendora</a></li>		
			<li><a href="/lawyer/la-puente.aspx" title="La Puente Workers Comp Attorney" style="text-decoration: none;">La Puente</a></li>		
            <li><a href="/lawyer/la-verne.aspx" title="La Verne Attorney" style="text-decoration: none;"> La Verne</a></li>
            <li><a href="/lawyer/mira-loma.aspx" title="Mira Loma Attorney" style="text-decoration: none;"> Mira Loma</a></li>
			<li><a href="/lawyer/montclair.aspx" title="lawyer montclair" style="text-decoration: none;">Montclair</a></li>
			<li><a href="/lawyer/ontario.aspx" title="lawyer ontario" style="text-decoration: none;">Ontario</a></li>
			<li><a href="/lawyer/pomona.aspx" title="lawyer pomona" style="text-decoration: none;">Pomona</a></li>
			<li><a href="/lawyer/rancho-cucamonga.aspx" title="lawyer rancho cucamonga" style="text-decoration: none;">Rancho Cucamonga</a></li>
			<li><a href="/lawyer/riverside.aspx" title="lawyer riverside" style="text-decoration: none;">Riverside</a></li>
			<li><a href="/lawyer/san-bernardino.aspx" title="San Bernardino Attorneys" style="text-decoration: none;">San Bernardino</a></li>
			<li><a href="/lawyer/san-dimas.aspx" title="San Dimas Attorney" style="text-decoration: none;"> San Dimas</a></li>
			<li><a href="/lawyer/upland.aspx" title="lawyer upland" style="border-bottom-width: 0; text-decoration: none;">Upland</a></li>
</ul>

<h3 style="margin-left:29px; color:White">Office Locations</h3>
<h3 style="text-align:left; margin-left:29px">Upland Office</h3>
<p style="margin-left:29px; color:White">100 N. Euclid Ave.<br />
Upland, CA 91786<br />
Phone: 888-407-9068<br />
Office Hours: 9:00 a.m. - 5:00 p.m.<br />
</p>
<h3 style="text-align:left; margin-left:29px">Chino Hills Office</h3>
<p style="margin-left:29px; color:White">5811 Pine Avenue, Chino Hills, CA 91709<br />
Phone: 888-407-9068<br />
</p>
<h3 style="text-align:left; margin-left:29px">La Puente Office</h3>
<p style="margin-left:29px; color:White">13052 Valley Blvd. <br>
  La Puente, CA 91746<br />
Phone: 888-407-9068<br />
Office Hours: 9:00 a.m. - 5:30 p.m.
</p>

<h3 style="text-align:left; margin-left:29px">Palm Desert Office</h3>
<p style="margin-left:29px; color:White">
72960 Fred Waring Drive<br> 
Palm Desert, CA 92260<br />
Phone: 888-407-9068<br />
Office Hours: 9:00 a.m. - 5:30 p.m.<br />
</p>

<h3 style="text-align:left; margin-left:29px">Van Nuys Office</h3>
<p style="margin-left:29px; color:White">
16600 Sherman Way<br> 
Van Nuys, CA 91406<br />
Phone: 888-407-9068<br />
Office Hours: 9:00 a.m. - 5:30 p.m.</p>
			</div>
			<div id="navigationFeatures" class="clearfix">	
                <table class="style1">
                    <tr>
                        <td>
				<img src="~/images/featuresTitle.gif" id="featuresTitle" width="102" height="12" alt="Info Centers" runat="server" /></td>
                    </tr>
                    <tr>
                        <td>
								<ul id="features1">
					<li><a href="/bankruptcy/Default.aspx" title="bankruptcy lawyer">Bankruptcy</a></li>
					<li><a href="/employment/Default.aspx" title="employment law lawyer">Employment Law</a></li>
					<li><a href="/divorce/Default.aspx" title="divorce lawyer">Divorce</a></li>
					<li><a href="/insurance-bad-faith/Default.aspx" title="insurance bad faith lawyer">Bad Faith Insurance</a></li>
				</ul>
				        </td>
                    </tr>
                </table>
			</div>
			
		</div>
	</div>
</div>
<div id="footerWrap">
	<div id="lowerWrap">
		<div id="navigationLower"><a href="/">Home Page</a> <a href="/bankruptcy/Default.aspx">Bankruptcy</a> <a href="/attorneys/Default.aspx">Attorney Profiles</a> <a href="/divorce/Default.aspx" title="Divorce">Divorce</a> <a href="/workers-compensation/Default.aspx">Workers Compensation</a> <a href="/sitemap.aspx">Sitemap</a></div>
	<div id="footer" class="clearfix">
		<div id="contactInformation">
<p><strong>Law Office of Marc E. Grossman</strong><br />
818 N. Mountain Avenue, Suite 111<br />
Upland, CA 91786<br />
Phone: 909-297-5479<br />
Toll Free: 888-407-9068<br />
Fax: 909-949-0119<br />
<a href="mailto:wefight4you@gmail.com">E-Mail Us</a> | <a href="http://maps.google.com/maps?f=q&#38;hl=en&#38;geocode=&#38;time=&#38;date=&#38;ttype=&#38;q=818+N.+Mountain+Avenue,+Suite+111,+Upland,+CA+91786&#38;sll=34.103649,-117.670171&#38;sspn=0.008422,0.014462&#38;ie=UTF8&#38;ll=34.104645,-117.670162&#38;spn=0.008422,0.014462&#38;z=16&#38;iwloc=addr&#38;om=1" target="_blank">Map &#38; Directions</a></p>
		</div>
		<div id="geographicalFooter">
		<img src="~/images/logoSmall.gif" id="smalllogo" width="289" height="46" alt="MG - Law Office of Marc E. Grossman" runat="server" /><br />

		</div>
	</div>
	<div id="finePrintWrap">
		<div id="finePrint">
			<p id="copyright">&#169; 2009 by <a href="http://www.wefight4you.com" title="Upland Attorney">Law Office of Marc E. Grossman</a>. All rights reserved. <a href="/disclaimer.aspx" rel="nofollow">Disclaimer</a> | <a href="/sitemap.aspx">Site Map</a></p>
			<p id="branding">&nbsp;</p>
		</div>
		<br class="clear">
	</div>
</div>
<%--<script language="JavaScript1.2" type="text/javascript"> preroll(); </script>--%>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1368144-9");
pageTracker._trackPageview();
} catch(err) {}</script>
<script type="text/javascript" src="silverlight.js"></script>
<script type="text/javascript">
    var hasSilverlight = Boolean(window.Silverlight);
    var hasSilverlight = hasSilverlight && Silverlight.isInstalled("1.0");
    var hasSilverlight = hasSilverlight && Silverlight.isInstalled("2.0");
    if (hasSilverlight1) {pageTracker._trackEvent("silverlight", "v1");
    if (hasSilverlight1) {pageTracker._trackEvent("silverlight", "v2");
    if (!hasSilverlight1 && !hasSilverlight2) {pageTracker._trackEvent("silverlight", "none");}
</script>
    </form>
</body>
</html>