﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="SiteMain.master.cs" Inherits="MasterPages_SiteMain" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <link href="~/css/site2.css" rel="stylesheet" type="text/css"  media="all"/>
  <script language="javascript" src="<%=ResolveUrl("~/scripts/swfObject.js")%>"  type="text/javascript"></script>
    <style type="text/css">
        .style1
        {
            width: 100%;
        }
        </style>
</head>
  
<body class="design home">
    <form id="form1" runat="server">
    <h1 style="font-size:small; color:White; text-align:center">Bankruptcy Information - Our Bankruptcy Attorneys - Different Types of Bankruptcys - Office Directions </h1>
    <img src="~/images/printBanner.gif" id="printBanner" class="printElement" alt="" runat="server" />
    <div class="handheldElement"></div>
<div class="lock">
	<div id="bgBar"></div>
</div>
<div id="containerPage">
	<div id="banner">
  
		<!--#include virtual="~/content_ebook.php" --> 
	</div>
	

	
	<div id="containerColumns">
	
		<div id="columnMain">
		
			<div id="containerPageTitle">
			<h2 style="text-align:center">
                <asp:ContentPlaceHolder ID="PageTitleH1" runat="server">
				    Welcome		
				 </asp:ContentPlaceHolder>
				 	</h2>
			</div>
			<div id="content">
				<!-- ### START CONTENT ### -->
                <asp:ContentPlaceHolder ID="MainContent" runat="server">
                </asp:ContentPlaceHolder>
	<!-- ### END CONTENT ### -->
			</div>
		</div>
		<div id="columnSide">
			<div id="navigationPractice">
			<br />
				<img src="~/images/practiceTitle.gif" id="practiceTitle" width="191" 
                    height="11" alt="Legal Practice Areas" runat="server" />
				<br />
				<ul>				
<li><a href="/divorce/Default.aspx" title="Divorce Attorneys">Divorce</a></li>
<li> <a href="/family-law/Default.aspx" title="family law attorneys">Family Law Attorney</a></li>
<li><a href="/bankruptcy/Default.aspx" title="bankruptcy attorney">Bankruptcy</a></li>
<li><a href="/workers-compensation/Default.aspx" title="workers compensation">Workers Compensation</a></li>
<li><a href="/criminal-defense/Default.aspx" title="Criminal defense attorneys">Criminal Defense</a></li>
<li><a href="/criminal-defense/dui.aspx" title="DUI Lawyers">DUI</a></li>
<li><a href="/personal-injury/Default.aspx" title="personal injury attorneys">Personal Injury</a></li>
<li><a href="/wrongful-death/Default.aspx" title="wrongful death attorneys">Wrongful Death</a></li>
<li><a href="/motorcycle-accidents/Default.aspx" title="Motorcycle Accident attorneys">Motorcycle Accidents</a></li>
<li><a href="/dog-bites/Default.aspx" title="dog bite attorneys">Dog Bites</a></li>
<li><a href="/work-injury/Default.aspx" title="work injury attorneys">Work Injury</a></li>
<li><a href="/immigration/Default.aspx" title="immigration attorneys">Immigration</a></li>
<li><a href="/insurance-bad-faith/Default.aspx" title="insurance bad faith attorneys">Insurance Bad Faith</a></li>
<li><a href="/fire-insurance-claims/Default.aspx" title="Fire insurance claim attorney">Fire Insurance Claims</a></li>
<li><a href="/fire-damage-homes/Default.aspx" title="Fire damage to home lawyer">Fire Damage to Homes</a></li>
<li><a href="/discrimination-harassment/Default.aspx" title="discrimination and harassment attorney">Discrimination & Harassment</a></li>
<li><a href="/civil-litigation/Default.aspx" title="Civil Litigation attorney">Civil Litigation</a></li>
<li><a href="/corrections-prison-parole/Default.aspx" title="attorney for corrections, prison and parole">Corrections, Prison & Parole Law</a></li>
</ul>
<h3 style="margin-left:29px; color:White">En Espanol</h3>
<ul>
					<li><a href="/espanol/family-law.aspx" title="Derecho Familiar en General" >Derecho Familiar en General</a></li>
					<li><a href="/espanol/divorce.aspx" title="Divorcio">Divorcio</a></li>
					<li><a href="/espanol/compensacion-a-los-trabajadores.aspx">Compensacion a los Trabajadores</a></li>
					<li><a href="/espanol/quiebra.aspx">Quiebra</a></li>
					<li><a href="/espanol/capitulo-7.aspx">Capitulo 7</a></li>
					<li><a href="/espanol/capitulo-11.aspx">Capitulo 11</a></li>
					<li><a href="/espanol/capitulo-13.aspx">Capitulo 13</a></li>
				</ul>
<h3 style="margin-left:29px; color:White">Locations We Serve</h3>
<ul>
<li><a href="/lawyer/riverside.aspx" title="lawyer riverside">Riverside</a></li>
			<li><a href="/lawyer/ontario.aspx" title="lawyer ontario">Ontario</a></li>
			<li><a href="/lawyer/upland.aspx" title="lawyer upland">Upland</a></li>
			<li><a href="/lawyer/chino.aspx" title="lawyer chino">Chino</a></li>
			<li><a href="/lawyer/chino-hills.aspx" title="lawyer chino hills">Chino Hills</a></li>
			<li><a href="/lawyer/corona.aspx" title="lawyer corona">Corona</a></li>
			<li><a href="/lawyer/rancho-cucamonga.aspx" title="lawyer rancho cucamonga">Rancho Cucamonga</a></li>
			<li><a href="/lawyer/montclair.aspx" title="lawyer montclair">Montclair</a></li>
			<li><a href="/lawyer/claremont.aspx" title="lawyer claremont">Claremont</a></li>
			<li><a href="/lawyer/pomona.aspx" title="lawyer pomona">Pomona</a></li>
			<li><a href="/lawyer/fontana.aspx" title="lawyer fontana" style="border-bottom-width: 0">Fontana</a></li>
</ul>

<h3 style="margin-left:29px; color:White">Office Locations</h3>
<h3 style="text-align:left; margin-left:29px">Upland Office</h3>
<p style="margin-left:29px; color:White">818 N. Mountain Ave. Upland CA 91786<br />
Phone: 888-407-9068<br />
Office Hours: 9:00 a.m. - 5:30 p.m.<br />
</p>

<h3 style="text-align:left; margin-left:29px">La Puente Office</h3>
<p style="margin-left:29px; color:White">13052 Valley Blvd. La Puente, CA 91746<br />
Phone: 888-407-9068<br />
Office Hours: 9:00 a.m. - 5:30 p.m.
</p>

<h3 style="text-align:left; margin-left:29px">Palm Desert Office</h3>
<p style="margin-left:29px; color:White">
72960 Fred Waring Drive 92260 Palm Desert, CA 92260<br />
Phone: 888-407-9068<br />
Office Hours: 9:00 a.m. - 5:30 p.m.<br />
</p>

<h3 style="text-align:left; margin-left:29px">Van Nuys Office</h3>
<p style="margin-left:29px; color:White">
16600 Sherman Way Van Nuys, CA 91406<br />
Phone: 888-407-9068<br />
Office Hours: 9:00 a.m. - 5:30 p.m.</p>
			</div>
			<div id="navigationFeatures" class="clearfix">
                <table class="style1">
                    <tr>
                        <td>			
				<img src="~/images/featuresTitle.gif" id="featuresTitle" width="102" height="12" alt="Info Centers" runat="server" /></td>
                    </tr>
                    <tr>
                        <td>
								<ul id="features1">
					<li><a href="/bankruptcy/Default.aspx" title="bankruptcy lawyer">Bankruptcy</a></li>
					<li><a href="/employment/Default.aspx" title="employment law lawyer">Employment Law</a></li>
					<li><a href="/divorce/Default.aspx" title="divorce lawyer">Divorce</a></li>
					<li><a href="/insurance-bad-faith/Default.aspx" title="insurance bad faith lawyer">Bad Faith Insurance</a></li>
				</ul>
				        </td>
                    </tr>
                </table>
			</div>
		
		</div>
	</div>
</div>
<div id="footerWrap">
	<div id="lowerWrap">
		<div id="navigationLower"><a id="navigationLowerJump"></a><a href="/">Home Page</a> <a href="/Firm-Overview/">Firm Overview</a> <a href="/testimonials/Default.aspx">Testimonials</a> <a href="/attorneys/Default.aspx">Attorney Profiles</a> <a href="/Practice-Areas/Default.aspx">Practice Areas</a>  <a href="/Forms/contact.aspx" rel="nofollow">Contact Us</a></div>
	</div>
	<div id="footer" class="clearfix">
		<div id="contactInformation">
<p><strong>Law Office of Marc E. Grossman</strong><br />
818 N. Mountain Avenue, Suite 111<br />
Upland, CA 91786<br />
Phone: 909-297-5479<br />
Toll Free: 888-407-9068<br />
Fax: 909-949-0119<br />
<a href="mailto:wefight4you@gmail.com">E-Mail Us</a> | <a href="http://maps.google.com/maps?f=q&#38;hl=en&#38;geocode=&#38;time=&#38;date=&#38;ttype=&#38;q=818+N.+Mountain+Avenue,+Suite+111,+Upland,+CA+91786&#38;sll=34.103649,-117.670171&#38;sspn=0.008422,0.014462&#38;ie=UTF8&#38;ll=34.104645,-117.670162&#38;spn=0.008422,0.014462&#38;z=16&#38;iwloc=addr&#38;om=1" target="_blank">Map &#38; Directions</a></p>
		</div>
		<div id="geographicalFooter">
		<img src="~/images/logoSmall.gif" id="smalllogo" width="289" height="46" alt="MG - Law Office of Marc E. Grossman" runat="server" /><br />
<p>The Law Office of Marc E. Grossman serves people in Upland and the surrounding parts of the Inland Empire area of California, including Rancho Cucamonga, Ontario, Pomona, Fontana, San Bernardino, Corona, Riverside, Claremont, Alta Loma, Chino, Chino Hills, Rialto, Norco, La Verne, San Dimas, Colton, Moreno Valley, Redlands, Highland and all cities within Riverside County, San Bernardino County and Los Angeles County, CA.</p>
		</div>
	</div>
	<div id="finePrintWrap">
		<div id="finePrint">
			<p id="copyright">&#169; 2009 by <a href="http://www.wefight4you.com" title="Upland Attorney">Law Office of Marc E. Grossman</a>. All rights reserved. <a href="/disclaimer.aspx" rel="nofollow">Disclaimer</a> | <a href="/sitemap.aspx">Site Map</a></p>
			<p id="branding">&nbsp;</p>
		</div>
		<br class="clear">
	</div>
</div>
<script language="JavaScript1.2" type="text/javascript">//<[CDATA[
    var swfFont = { src: '/Includes/Templates/Active/images/sifr.swf', ratios: [6, 1.41, 9, 1.35, 15, 1.29, 21, 1.25, 22, 1.22, 27, 1.24, 29, 1.21, 34, 1.22, 41, 1.21, 45, 1.2, 46, 1.21, 59, 1.2, 68, 1.19, 69, 1.2, 96, 1.19, 97, 1.18, 102, 1.19, 103, 1.18, 112, 1.19, 114, 1.18, 116, 1.19, 120, 1.18, 121, 1.19, 1.18] }; sIFR.delayCSS = false; sIFR.fromLocal = true; sIFR.activate(swfFont);
 sIFR.replace(swfFont, { selector: 'h1#pageTitle',css: [
  '.sIFR-root{ text-transform:uppercase; font-weight:bold; color:#ffffff; background-color:#081f2a;}'] , wmode: 'opaque' });
//]]>
</script>
<%--<script language="JavaScript1.2" type="text/javascript"> preroll(); </script>--%>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1368144-9");
pageTracker._trackPageview();
} catch(err) {}</script>
<script type="text/javascript" src="silverlight.js"></script>
<script type="text/javascript">
    var hasSilverlight = Boolean(window.Silverlight);
    var hasSilverlight = hasSilverlight && Silverlight.isInstalled("1.0");
    var hasSilverlight = hasSilverlight && Silverlight.isInstalled("2.0");
    if (hasSilverlight1) {pageTracker._trackEvent("silverlight", "v1");
    if (hasSilverlight1) {pageTracker._trackEvent("silverlight", "v2");
    if (!hasSilverlight1 && !hasSilverlight2) {pageTracker._trackEvent("silverlight", "none");}
</script>
    </form>
</body>
</html>