@charset "UTF-8";
/* CSS Document */

/* For experiment page only */
#exp_content {
  margin : auto;
  text-align : left; 
  padding : 30px 40px 36px 4%;
  height : auto;
  font-size : 0.9em;
  color : #000;
}
 
/* this experiment's demo styles */
 
#cmd_wrapper {
  width : 640px;
  margin : 0 auto 0;
}
 
#cmd_content {
  width : 474px;
  border : 1px solid #999;
  float : right;
  display : inline;
  background-color : #f7faf2;
}
 
#cmd_content h2, #cmd_sidebar h2 {
  color : #669900;
  margin : 5px 0 0 5px;
}
 
#cmd_content p {
  margin : 14px 15px;
  font-size : 90%;
  text-indent : 20px;
}
 
#cmd_sidebar {
  width : 160px;
  float : left;
  display : inline;
}
 
/* this experiment's function styles */
 
ul#cmd {
  margin : 5px;
  list-style-type : none;
  font-size : 90%;
}
 
ul#cmd li {
  margin-bottom : 5px;
}
 
ul#cmd a {
  position : relative;
  width : 145px;
  height : 4em;
  display : block;
  padding : 5px;
  padding-right : 0;
  border : 1px solid #669900;
  background : #ddd url(images/cmd_linkback.jpg) repeat-x;
  color : #669900; 
  text-decoration : none;
  font-weight : bold;
  cursor : pointer;
}
 
ul#cmd a span {
  position : absolute;
  top : -9000px;
  left : -9000px;
  display : block;
  width : 260%;
  height : 4em;
  background : #fafafa url(images/cmd_linkback_on.jpg) repeat-x;
  border : 1px solid #669900;
  border-left : 0;
  padding : 5px;
  padding-left : 23px;
  text-indent : -17px;
  cursor : pointer;
  color : #cc9900;
}
 
ul#cmd a:hover, ul#cmd a:focus, ul#cmd a:active {
  background : #fafafa url(images/cmd_linkback_on.jpg) repeat-x;
  color : #000;
}
 
ul#cmd a:hover span, ul#cmd a:focus span, ul#cmd a:active span {
  top : -1px;
  left : 80px;
}
 /* Experiments Global CSS */

* { 
  margin : 0; 
  padding : 0; 
}
body#exp_body { 
  background-color : #669900;
  font-family : 'Century Gothic', 'Trebuchet MS', Arial, sans-serif; 
  font-size : 100.1%; 
  color : #333;
  padding : 15px;
  text-align : center;
}
#exp_header {
  background : #fafafa url(exp_headerback.jpg) no-repeat top right;
  text-align : left;
  padding : 13px 15px 13px 15px;
  margin-bottom : 15px;
  border : 1px solid #000;
}
h1#exp_h1 {
  color : #669900;
  font-weight : normal;
  padding-bottom : 10px;
  font-size : 1.6em;
}
p#exp_p {
  padding-bottom : 10px;
  width : 70%;
  font-size : 0.9em;
}
p#exp_copyline {
  margin-top : 5px;
  text-align : center;
  font-size : 0.75em;
  color : #fff;
}
h1#exp_h1 a.exp_a {
  text-decoration : none;
  display : block;
  width : 70%;
}
a.exp_a { 
  background : transparent;
  border : 0;
  color : #669900;
}
a.exp_a:hover {
  text-decoration : none;
  color : #000;
}
a.exp_a:focus, a.exp:active, p#exp_copyline a:focus, p#exp_copyline a:active {
  background-color : #ffffcc;
}
#exp_content { 
  background : #fff url(exp_contback.jpg) repeat-y;
  border : 1px solid #000;
}
p#exp_copyline a {
  color : #fff;
}
p#exp_copyline a:hover {
  color : #ffffcc;
  text-decoration : none;
}
p#exp_copyline a:focus, p#exp_copyline a:active {
  background-color : #ffffcc;
  color : #000;
}
.yes { 
  display : inline; 
}
.no { 
  display : none; 
}
hr.none {
  display : none;
}
img, a img {
  border : 0;
}
/* End */