﻿<%@ Page Title="Is California Bankruptcy right for you?" Language="C#" MasterPageFile="~/MasterPages/SiteMainInternal.master" AutoEventWireup="true" CodeFile="is-bankruptcy-right-for-you.aspx.cs" Inherits="bankruptcy_is_bankruptcy_right_for_you" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="MainLogo" Runat="Server">
   <h1 style="font-size:medium;color:white">Filling For Bankruptcy Can Help you keep your home and stop foreclosure along 
       with&nbsp; the harassing phone calls from creditors</h1>
       <br />
       <table style="width: 375px; height: 231px; background-color:#081f2a; " 
        align="center">
                        <tr>
                            <td colspan="2">
                                <b style="font-size:large; text-align:center; color:White"><p>Contact Us Today For 
                                    Free!</p></b></td>
                        </tr>
                        <tr>
                            <td valign="top" class="style5">
                                <p style="padding-left:5px; font-size:medium; color:White;">Name: </p>               
                            </td>
                            <td>
                                 <asp:TextBox ID="txtName" runat="server" CausesValidation="True" EnableViewState="False"></asp:TextBox>
                                 <asp:RequiredFieldValidator ID="RequiredFieldValidator1" EnableViewState = "false" runat="server" 
            ControlToValidate="txtName" ErrorMessage="Name is Required" Display="Dynamic" BackColor="#eddea3"></asp:RequiredFieldValidator>
        </td>
                        </tr>
                        <tr>
                            <td valign="top" class="style5">
                               <p style="padding-left:5px; font-size:medium; color:White;"> Telephone:</p></td>
                            <td valign="top" style="width: 128px">
                                <asp:TextBox ID="txtTelephone" runat="server" EnableViewState="False"></asp:TextBox>
                                <asp:RequiredFieldValidator ID="RequiredFieldValidator3" EnableViewState="false" runat="server" 
                                     ControlToValidate="txtTelephone" ErrorMessage="Telephone is Required" Display="Dynamic" BackColor="#eddea3"></asp:RequiredFieldValidator>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" class="style6">
                                <p style="padding-left:5px; font-size:medium; color:White;">Email: </p></td>
                            <td  valign="top" class="style7">
                                <asp:TextBox ID="txtEmail" EnableViewState="false" runat="server"></asp:TextBox>
        <asp:RequiredFieldValidator ID="RequiredFieldValidator2" EnableViewState="false" runat="server" 
            ControlToValidate="txtEmail" ErrorMessage="Email is Required" Display="Dynamic"  BackColor="#eddea3"></asp:RequiredFieldValidator></td>
                        </tr>
                        <tr>
                            <td class="style2">
                                &nbsp;</td>
                            <td valign="top" class="style3">
                                   
                                <asp:Button ID="btnSubmit" Text="Submit" EnableViewState="false" runat="server" 
                                    onclick="btnSubmit_Click" /></td>
                        </tr>
                        </table>
</asp:Content>

<asp:Content ID="Content5" ContentPlaceHolderID="MainContent" Runat="Server">
   <h2>Attorneys with over 25 years of experience</h2>
</asp:Content>


