﻿<%@ Page Title="La Puente California Bankruptcy Attorneys, Lawyers" Language="C#" MasterPageFile="~/MasterPages/SiteMainInternal.master" AutoEventWireup="true" CodeFile="la-puente.aspx.cs" Inherits="bankruptcy_la_puente" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainLogo" Runat="Server">
 <img alt="La Puente California Bankruptcy Lawyer" src="../images/la-puente-bankruptcy.jpg" style="width: 802px; height: 228px" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitleH1" Runat="Server">
<h1 id="pageTitle">La Puente Bankruptcy Lawyers</h1>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" Runat="Server">
<p>When making the decision to file for bankruptcy in La Puente you should be well informed. The reason that you need to be informed is that bankruptcy is a extensive subject with many rules and stipulations. We sympathize and understand that in this down economy and that many regular hard working people don't have any options but to file for bankruptcy in La Puente. So if you reside in La Puente our site hopes to keep you informed about bankruptcy by updating you on bankruptcy news and information. The information covered will be the definition of bankruptcy, types of bankruptcy, and qualifications of bankruptcy. If you  are considering bankruptcy as a option we welcome you to a FREE Initial  consultation with one of our bankruptcy attorneys. The FREE Initial consultation will go over everything that is necessary for you to proceed with the process of bankruptcy in California. </p>
<p>The information on our site is crucial and informational in referencing questions you have about bankruptcy in California. There is a cornucopia of incorrect or misleading information. The common types of incorrect information is about the bankruptcy types, purpose, limitations, and consequences. The goal of our site is to correct translate  bankruptcy information and present it to you in a understandable manner. In the current economic down bankruptcy is the norm and many people are filing almost daily. Default home loans, bad retail market, and debt have all increased substantially since the economy has gone into a recession. These issues can lead to unresolved debt that can ruin you credit and financially destroy your life. We want to suggest the best bankruptcy attorney to help you resolve your bankruptcy. </p>
<h3>What is Bankruptcy?</h3>
<p>The definition of bankruptcy is the declaration of the inability for a debtor (a person that has the debt) to pay their creditor (a person who is owed money). When you or your business files for bankruptcy its will be done in California court. There have been incidents that a company may file what is called involuntary bankruptcy in an attempt to retrieve any payment from you. so when making a decision to file bankruptcy being concise and prompt is the key to keep your options available and not be surprised by your creditors. In closing bankruptcy is the process where you liquidate existing assets to pay you creditors to protect yourself from lawsuits, collection agencies, or financial ramification. </p>
<h3>Do I Qualify for Bankruptcy in La Puente?</h3>
<p>The qualification for bankruptcy vary because of the various rules an stipulations. However the two major factors are your income versus the amount of debt outstanding.  There are a myriad of bankruptcy types and each one has different qualifications but the general purpose is still the same. The qualification requirements vary depending on the revised 2005 bankruptcy laws. I hope this is helpful for those of you filing for bankruptcy in California.</p>
<h3>What Type of Debts Aren't Released with Bankruptcy?</h3>
<p>Bankruptcy is an important tool in getting your life back on track after bad decisions, financial pitfalls, or economic reasons. However there are some debts that even bankruptcy can't discharge no matter what option they decide to go with either chapter 7, 11, or 13. For Chapter 7 the debts that can't be discharged are fraud or criminal related debts, certain tax debts, certain extravagant purchases/cash advances, debts to debtors that weren't listed on the court payment schedule, alimony or certain civil penalties, student loans, or financial penalties for criminal acts. The debts for chapter 11 that can't be discharged differ because it is created for small businesses. A general rule is that if the debtor has committed some kind of fraud or misconduct the discharge of debt will be denied.  Other types of debt that can't be discharged are certain taxes, debtors that are not on the court ordered payment schedule, debts to government or educational institutions, and criminal penalties. In Chapter 13 debts that can't be discharged include child support, student loans, criminal fines, fraud created by debt, certain taxes, debts that were not on the court ordered payment schedule, debts incurred after filing chapter 13, and interest accrued on any of the debts above.</p>
<h3>What Type of Bankruptcy Do I Qualify For?</h3>
<p>To help state bankruptcy simply there are three major types of bankruptcy chapters 7, 11, and 13 that people file for in California. To qualify for a chapter 7 in the state of California you must take a means test. The means test is used in determining if you will have enough income in sustaining essential living after taking out income for paying debts. If your income is below the median income, and have mortgage or other financial obligations of $1,500 a year you will qualify. However if after paying these obligations you are able to pay $6,000 in debt you will be disqualified from filing a chapter 7.</p>
<p>Other requirements state if in the prior 180 days another bankruptcy petition that was filed by you was denied you will be ineligible. you must also obtain a certificate from a government credit counselor.  To qualify for a chapter 11 your business should be a corporation, LLC, or a partnership, not be part of government, file assets and liabilities schedule, file financial statement, you can sell assets prior to filing and not after, and cash for collateral can be allowed if creditors and court agree. To qualify for chapter 13 you will be eligible as long as your  unsecured debts are under $336,900 and secured debts are  under $1,010,650. A business in any form can not file a chapter 13. Also if a petition was filed 180 days prior to and was denied, you are ineligible. You must also get a certificate from a government approved credit counselor 180 day before filing to be eligible.</p>
<h3>La Puente Chapter 7 Bankruptcy</h3>
<p> Chapter 7 bankruptcy is considered the most common type of bankruptcy and is usually filed in cases of personal debt. These are typical called (no-asset cases) because of the process it entails. In a chapter 7 case you basically cannot afford to pay your debtors. You then have to go into a court procedure called liquidation. Liquidation is basically when the court takes your current belongings (assets) and sells them to pay your the companies you owe money to (debtors). However before you think they can sell your organs there are some exempt (untouchable) property. Such as personal heirlooms, intangibles, and no value items. Also there are limitations where you might not be able to file chapter 7 if you earn to much money.</p>
<h3>La Puente Chapter 11 Bankruptcy</h3>
<p>Chapter 11 bankruptcy is considered for commercial use like businesses. The purpose for filing chapter 11 is for a business that has debts with their (banks and other businesses) creditors to be able to conduct business without having to close. This process is called reorganization. During the process of reorganization you (debtor) has 120 days to file a plan that you will repay your creditors. The court then review you plan to pay back your creditors, if the court approves your plan you can reduce your debt by paying a certain portion and not pay others. You can also get rid of some liable contracts, lease, and debt. </p>
<h3>La Puente Chapter 13 Bankruptcy</h3>
<p>Chapter 13 bankruptcy is bankruptcy for someone that still has a regular stream of income. Chapter 13 is the most favored because allows you (debtor) to take care of your debt with out losing your valuable assets like your home, car, etc. Unlike chapter 7 where your debts get sold off (liquidated). It allows you to pay your debtors over a span of 3-5 years and also is for anyone who doesn't qualify for chapter 7 because they don't meet the income specifications. The debt proposal just like chapter 7 debt proposal must be approved by the court. In a chapter 13 you are protect from individual debt lawsuits and wage garnishments. So in closing chapter 7 is for personal debt for some one that is unable to their creditors and most of their assets are sold off to pay creditors. Chapter 11 is for business that want to consolidate debt and pay their creditors while staying in business. Chapter 13 is for personal debt and is for the individual that had steady, regular income that wants to keep their valuable assets and pay off their creditors. Also it also protection from individual debt lawsuits and wage garnishment.</p>

</asp:Content>

