/* 

Minibuzz - CSS File For Fancy JQuery

*/
/* slideshow fancy */
#slideflash{position:relative; height:340px; margin:0 auto; width:940px;}
#slideshowHolder{top:0px;}
.ft-title{width:920px; padding:10px; position:relative}
* html .ft-title{width:930px; padding:10px; bottom:-1px !important; position:relative}/* ie 6 only */
