﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="SiteMain.master.cs" Inherits="Master_SiteMain" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
	<asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">
        </style>
    
     <link href="~/CSS/layout.css" rel="stylesheet" type="text/css" />
     <link href="~/CSS/nav.css" rel="stylesheet" type="text/css" />
     <link href="~/CSS/coupon_menu.css" rel="stylesheet" type="text/css" />
    
        <script language="javascript" src="<%=ResolveUrl("~/SCRIPTS/gettingstartedtabs.js")%>" type="text/javascript"></script>
         <script language="javascript" src="<%=ResolveUrl("~/SCRIPTS/nav.js")%>" type="text/javascript"></script>
    <script language="javascript" src="<%=ResolveUrl("~/SCRIPTS/jqueryslidmenu.js")%>" type="text/javascript"></script>
       
</head>
<body>
    <form id="form1" runat="server">
 
    <table width=100% cellpadding="0" cellspacing="0" class="style1">
        <tr>
            <td colspan="5">
            <%--header--%>
            <div class="header">
               <div >
               <a href="/"  title="Attorneys in Riverside and Lawyers in San Bernadino that fight for you">
                   <img id="Img1" alt="" src="~/IMAGES/logo.jpg" 
                       style=" border-style: none" runat="server"/></a></div>
                       
                       <div id="phonenumber" class="phonenumber" style="right: 5px; top: 10px; height: 42px">
                           <img id="Img2" src="~/IMAGES/phone-number.jpg" runat="server"/>
                           </div>
                <asp:ContentPlaceHolder ID="Mainh1" runat="server">
                <h1>main page h1</h1>
                </asp:ContentPlaceHolder>
               </div>
                <%--header--%>
                 <%--nav--%>
<div class="chromestyle" id="chromemenu" style="height: 35px">
<ul style="height: 26px">
<li><a href="/">Home</a></li>
<li><a href="/practice-areas/Default.aspx" rel="dropmenu1" title="Areas of Legal Practice">Practice Areas</a></li>
<li><a href="/attorneys/Default.aspx" rel="dropmenu2" title="attorneys">Attorneys</a></li>
<li><a href="/testimonials/Default.aspx"  title="testimonials and reviews">Testimonials</a></li>
<li><a href="/firm-overview/Default.aspx" rel="dropmenu3" title="about the law offices of Marc Grossman">Firm Overview</a></li>	
<li><a href="/forms/contact.aspx">Contact Us</a></li>
</ul>
</div>

<!--1st drop down menu -->                                                   
<div id="dropmenu1" class="dropmenudiv">
<a href="/family-law/Default.aspx" title="family law attorney">Family Law</a>
<a href="/bankruptcy/Default.aspx" title="bankruptcy attorney">Bankruptcy</a>
<a href="/personal-injury/Default.aspx" title="personal injury attorney">Personal Injury</a>
<a href="/wrongful-death/Default.aspx" title="wrongful death attorney">Wrongful Death</a>
<a href="/motorcycle-accidents/Default.aspx" title="motorcycle accident attorney">Motorcycle Accidents</a>
<a href="/dog-bites/Default.aspx" title="dog bite attorney">Dog Bites</a>
<a href="/work-injury/Default.aspx" title="work injury attorney">Work Injury</a>
<a href="/criminal-defense/Default.aspx" title="criminal defense attorney">Criminal Defense</a>
<a href="/immigration/Default.aspx" title="immigration attorney">Immigration</a>
<a href="/insurance-bad-faith/Default.aspx" title="insurance bad faith attorney">Insurance Bad Faith</a>
<a href="/fire-insurance-claims/Default.aspx" title="fire insurance claims attorney">Fire Insurance Claims</a>
<a href="/fire-damage-homes/Default.aspx" title="attorney for fire damage to homes">Fire Damage to Homes</a>
<a href="/discrimination-harassment/Default.aspx" title="discrimination and harassment attorney">Discrimination and Harassment</a>
<a href="/civil-litigation/Default.aspx" title="civil litigation attorney">Civil Litigation</a>
<a href="/corrections-prison-parole/Default.aspx" title="attorney for corrections, prison and parole">Corrections, Prison and Parole</a>
</div>

<!--2nd drop down menu -->                                                
<div id="dropmenu2" class="dropmenudiv" style="width: 150px;">
<a href="/attorneys/marc-grossman.aspx" title="attorney Marc Grossman">Marc Grossman</a>
<a href="/attorneys/albert-d-antin.aspx" title="attorney Lucy Matevosyan">Albert D' Antin</a>
<a href="/attorneys/joeseph-hirsch.aspx" title="attorney Joseph Hirsch">Joeseph Hirsch</a>

</div>

<!--3rd drop down menu -->                                                   
<div id="dropmenu3" class="dropmenudiv" style="width: 150px;">
<a href="/firm-overview/office-staff.aspx">Office Staff</a>
<a href="/wins/Default.aspx">Settlements</a>
</div>
<script type="text/javascript">
    cssdropdown.startchrome("chromemenu")
</script>

<div class="btmnavinteriorpages"style="height: 20px;" >
   <div class="sitemaptop">
      <asp:SiteMapPath ID="SiteMapPath1" 
                        runat="server" Font-Size="Smaller" ForeColor="#32230C">
						</asp:SiteMapPath>
						</div>					
						<div class="pagesavingproperties">
     Save Page | Save To Favorites | Bookmark
    </div>
    
    
     </div>
<%--nav--%>
               </td>
               
        </tr>
        <tr>
            <td valign="top" style="width: 200px">
            <%--lftcolumn--%>
                <div class="lftcolumn">
                    <div class="contactform">
                    <table style="width: 305px">
                        <tr>
                            <td colspan="2" class="style3">
                                Free Consultation</td>
                        </tr>
                        <tr>
                            <td valign="top" class="style4">
                                Name:               
                            </td>
                            <td class="style5">
                                 <asp:TextBox ID="txtName" runat="server" CausesValidation="True"></asp:TextBox>
                                 <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" 
            ControlToValidate="txtName" ErrorMessage="Name is Required" Display="Dynamic" EnableViewState="False" BackColor="#eddea3"></asp:RequiredFieldValidator>
        </td>
                        </tr>
                        <tr>
                            <td valign="top" class="style2" >
                                Telephone:</td>
                            <td valign="top" style="width: 128px">
                                <asp:TextBox ID="txtTelephone" runat="server"></asp:TextBox>
                                <asp:RequiredFieldValidator ID="RequiredFieldValidator3" runat="server" 
                                     ControlToValidate="txtTelephone" ErrorMessage="Telephone is Required" Display="Dynamic" EnableViewState="false" BackColor="#eddea3"></asp:RequiredFieldValidator>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" class="style2">
                                Email:</td>
                            <td style="width: 128px">
                                <asp:TextBox ID="txtEmail" runat="server"></asp:TextBox>
        <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" 
            ControlToValidate="txtEmail" ErrorMessage="Email is Required" Display="Dynamic" EnableViewState="false" BackColor="#eddea3"></asp:RequiredFieldValidator></td>
                        </tr>
                        <tr>
                            <td class="style2">
                                Case Type:</td>
                            <td style="width: 128px">
                                <asp:DropDownList ID="ddCaseType" runat="server" Width="144px">
            <asp:ListItem Selected="True">Select Case Type....</asp:ListItem>
                                    <asp:ListItem>not sure</asp:ListItem>
            <asp:ListItem>divorce</asp:ListItem>
            <asp:ListItem>civil</asp:ListItem>
            <asp:ListItem>bankruptcy</asp:ListItem>
                                    <asp:ListItem>family law</asp:ListItem>
                                    <asp:ListItem>corrections, prison, parole</asp:ListItem>
                                    <asp:ListItem>criminal defense</asp:ListItem>
                                    <asp:ListItem>discrimination, harassment</asp:ListItem>
                                    <asp:ListItem>dog bites</asp:ListItem>
                                    <asp:ListItem>employment</asp:ListItem>
                                    <asp:ListItem>fire damage homes</asp:ListItem>
                                    <asp:ListItem>fire insurance claims</asp:ListItem>
                                    <asp:ListItem>immigration</asp:ListItem>
                                    <asp:ListItem>insurance bad faith</asp:ListItem>
                                    <asp:ListItem>motorcycle accidents</asp:ListItem>
                                    <asp:ListItem>auto accidents</asp:ListItem>
                                    <asp:ListItem>personal injury</asp:ListItem>
                                    <asp:ListItem>workers compensation</asp:ListItem>
                                    <asp:ListItem>work injury</asp:ListItem>
                                    <asp:ListItem>wrongful death</asp:ListItem>
        </asp:DropDownList></td>
                        </tr>
                        <tr>
                            <td class="style2">
                                Tell Us about your case</td>
                            <td style="width: 128px">
                                <asp:TextBox ID="txtDescribeYourCase" Rows="4" TextMode="MultiLine" 
                                    runat="server" Width="142px" ></asp:TextBox>
                                    <br />
                                <asp:Button ID="btnSubmit" Text="Submit" runat="server" 
                                    onclick="btnSubmit_Click" /></td>
                        </tr>
                        </table>
                    </div>
                    <div class="nav-fade-light"></div>
<div class="head-divider-h2">Primary Legal Services</div>
<div class="nav-fade-light" style="height: 5px"></div>
<ul class="glossymenu">
			<li><a href="/family-law/" title="family law lawyer">Family Law</a></li>
			<li><a href="/bankruptcy/" title="bankruptcy lawyer">Bankruptcy</a></li>
			<li><a href="/workers-compensation/" title="workers comp lawyer">Workers Compensation</a></li>
			<li><a href="/criminal-defense/" title="criminal defense lawyer" style="border-bottom-width: 0">Criminal Defense</a></li>
			<li><a href="/immigration/" title="immigration lawyer" style="border-bottom-width: 0">Immigration</a></li>
			<li><a href="/immigration/" title="immigration lawyer" style="border-bottom-width: 0">Social Security</a></li>
			</ul>
                </div>
                <div class="nav-fade-light" style="height: 5px"></div>
<div class="head-divider-h2">Locations We Serve</div>
<div class="nav-fade-light" style="height: 5px"></div>
<ul class="glossymenu">
			<li><a href="/lawyer/riverside.aspx" title="lawyer riverside">Riverside</a></li>
			<li><a href="/lawyer/ontario.aspx" title="lawyer ontario">Ontario</a></li>
			<li><a href="/lawyer/upland.aspx" title="lawyer upland">Upland</a></li>
			<li><a href="/lawyer/chino.aspx" title="lawyer chino">Chino</a></li>
			<li><a href="/lawyer/chino-hills.aspx" title="lawyer chino hills">Chino Hills</a></li>
			<li><a href="/lawyer/corona.aspx" title="lawyer corona">Corona</a></li>
			<li><a href="/lawyer/rancho-cucamonga.aspx" title="lawyer rancho cucamonga">Rancho Cucamonga</a></li>
			<li><a href="/lawyer/montclair.aspx" title="lawyer montclair">Montclair</a></li>
			<li><a href="/lawyer/claremont.aspx" title="lawyer claremont">Claremont</a></li>
			<li><a href="/lawyer/pomona.aspx" title="lawyer pomona">Pomona</a></li>
			<li><a href="/lawyer/fontana.aspx" title="lawyer fontana" style="border-bottom-width: 0">Fontana</a></li>
			</ul>
			
                      <div class="nav-fade-light" style="height: 5px"></div>
<div class="head-divider-h2">Law Office Locations</div>
<div class="nav-fade-light" style="height: 5px"></div>
<h3 style="text-align:left">Upland Office</h3>
<p><span style="font-size:12px; color:#193441">818 N. Mountain Ave. Upland CA 91786<br />
Phone: 888-407-9068<br />
Office Hours: 9:00 a.m. - 5:30 p.m.<br />
<strong><a href="../Forms/contact.aspx">Contact the Upland Office</a></strong></span></p>

<h3 style="text-align:left;">La Puente Office</h3>
<p><span style="font-size:12px; color:#193441">13052 Valley Blvd. La Puente, CA 91746<br />
Phone: 888-407-9068<br />
Office Hours: 9:00 a.m. - 5:30 p.m.<br />
<strong><a href="../Forms/contact.aspx">Contact the La Puente Office</a></strong></span></p>

<h3 style="text-align:left">Palm Desert Office</h3>
<p><span style="font-size:12px; color:#193441">
72960 Fred Waring Drive 92260 Palm Desert, CA 92260<br />
Phone: 888-407-9068<br />
Office Hours: 9:00 a.m. - 5:30 p.m.<br />
<strong><a href="../Forms/contact.aspx">Contact the Palm Desert Office Office</a></strong></span></p>

<h3 style="text-align:left">Van Nuys Office</h3>
<p><span style="font-size:12px; color:#193441">
16600 Sherman Way Van Nuys, CA 91406<br />
Phone: 888-407-9068<br />
Office Hours: 9:00 a.m. - 5:30 p.m.<br />
<strong><a href="../Forms/contact.aspx">Contact the Van Nuys Office</a></strong></span></p>
                 <%--lftcolumn--%>
                </td>
            <td valign="top">
             &nbsp;</td>
            <td valign="top" class="style7">
             <%--maincontent--%>
                <div class="mainwrapper">
                <div class="maincontent">
                    <asp:ContentPlaceHolder ID="MainMasterh1" runat="server">
                    
                <h1>Interior Page</h1>
                		
                		</asp:ContentPlaceHolder>
                		</div>
                    <asp:ContentPlaceHolder ID="MainBodyContent" runat="server">
                    
                		<p>SourceSurge is for beginners interested in learning 
						abouit the many technologies that encompass .Net. The 
						reason behind SourceSurge is the abundant amount of 
						information out there, but the lack of teaching in terms 
						a &quot;newbie&quot; can understand. If you have any questions or 
						comments feel free to email the webmaster at 
						Webmaster@SourceSurge.net.</p>
						<p>SourceSurge is for beginners interested in learning 
						abouit the many technologies that encompass .Net. The 
						reason behind SourceSurge is the abundant amount of 
						information out there, but the lack of teaching in terms 
						a &quot;newbie&quot; can understand. If you have any questions or 
						comments feel free to email the webmaster at 
						Webmaster@SourceSurge.net.</p>
					<p>SourceSurge is for beginners interested in learning 
					abouit the many technologies that encompass .Net. The reason 
					behind SourceSurge is the abundant amount of information out 
					there, but the lack of teaching in terms a &quot;newbie&quot; can 
					understand. If you have any questions or comments</p>
					<p>SourceSurge is for beginners interested in learning 
					abouit the many technologies that encompass .Net. The reason 
					behind SourceSurge is the abundant amount of information out 
					there, but the lack of teaching in terms a &quot;newbie&quot; can 
					understand. If you have any questions or comments</p>
					<p>SourceSurge is for beginners interested in learning 
					abouit the many technologies that encompass .Net. The reason 
					behind SourceSurge is the abundant amount of information out 
					there, but the lack of teaching in terms a &quot;newbie&quot; can 
					understand. If you have any questions or comments</p>
					<p>Sed porta, turpis sit amet viverra rhoncus, mauris urna 
					interdum erat, nec semper dui diam ut libero. Donec 
					adipiscing placerat metus. Inteer eu eros vel risus ornare 
					consequat. Curabitur sem erat, tempor non, ullamcorper quis, 
					dapibus a, ante. Aliquam tempus tellus eget est. In 
					hendrerit turpis sed ligula. Integer vulputate nibh congue 
					magna. Duis commodo leo sit amet quam. Nunc commodo sodales 
					nunc. Donec est nunc, porttitor et, accumsan nec, pretium 
					quis, mauris. Duis sapien. Nulla felis lorem, accumsan 
					vitae, ultricies et, hendrerit vel, massa. In nonummy tortor 
					et metus. Aenean lacinia orci non risus. Aenean vulputate 
					vel lectus. Aliquam erat volutpat. Duis diam.</p>
					</asp:ContentPlaceHolder>
                <%--maincontent--%>
                <%--subcontent--%>
               
		
	</div>
                </div>
                <%--subcontent--%>
                </td>
          
            <td valign="top">
            <%--rtcontent--%>
           
           
            <div class="toprightvideo">
             <%--video--%><asp:ContentPlaceHolder ID="Video" runat="server">
                </asp:ContentPlaceHolder>
</div>
                    <div class="nav-fade-light" style="height: 5px">&nbsp;</div>
<div class="head-divider-h2">Our Attorneys</div>
<div class="nav-fade-light" style="height: 5px">&nbsp;</div>
            		<table style="width: 282px" align="right">
						<tr>
							<td class="style6">
							<a href="~/attorneys/marc-grossman.aspx" runat="server">
							    <img id="Img3" alt="Marc Grossman Attorney At Law" src="~/IMAGES/people/marc-grossman.jpg" 
                                      style=" border-style: none" runat="server"/></a></td>
						</tr>
						<tr>
							<td>
							<a href="~/attorneys/albert-d-antin.aspx" runat="server">
							    <img id="Img4" alt="Albert D'Antin Attorney At Law" src="~/IMAGES/people/albert-dantin.jpg" 
                                     style=" border-style: none"  runat="server"/></a></td>
						</tr>
						<tr>
							<td>
							<a href="~/attorneys/joseph-hirsch.aspx" runat="server">
							    <img id="Img5" alt="Joseph Hirsch Attorney At Law" src="~/IMAGES/people/joseph-hirsch.jpg" 
                                    style=" border-style: none"  runat="server" />
                                   </a>
                                  </td>
						</tr>
						</table>						
            <%--rtcontent--%>
                </td>
        </tr>
    </table>
    
    <%--footer--%><div class="footer"><!-- Begin Footer -->
	
		Copyright © 2009 WeFight4you.com.&nbsp; Terms of Service - Disclaimer</div> 
	<div class="footer_section">
	<br />
	<p>See what the Law Offices of Marc Grossman are doing on the following websites:</p>
	 <a href="http://twitter.com/marc_grossman">
                    <img id="Img8" alt="Follow Marc Grossman on Twitter" src="~/images/social/twitter-logo.jpg"
                 runat="server" style="border-style:none"/></a>
	  <a href="http://www.facebook.com/marcgrossman.attorney">
                    <img id="Img9" alt="Marc Grossman on Facebook" 
                    src="~/IMAGES/social/facebook-logo.jpg" 
                    runat="server" 
                    style="margin-right: 0px; border-style:none"/></a>
        <img id="Img10" src="~/IMAGES/social/youtube_logo.jpg" runat="server"/>
        <img id="Img11" src="~/IMAGES/social/linkedin_logo.jpg" runat="server"/>
        <img id="Img12" src="~/IMAGES/social/LegallyMindedlogo.jpg" runat="server" 
            style="width: 232px; height: 83px"/>
	</div>
	
	<%--footer--%>
	<script type="text/javascript">
	    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-1368144-9");
        pageTracker._trackPageview();
    } catch (err) { }</script>
    </form>
    
</body>
</html>
