﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master/InteriorMain.master" AutoEventWireup="true" CodeFile="paternity.aspx.cs" Inherits="family_law_paternity" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Mainh1" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PracticeAreaNav" Runat="Server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainMasterh1" Runat="Server">
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="MainBodyContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="Video" Runat="Server">
</asp:Content>

