<%@ Page Title="Albert D'Antin Attorney at Law - Law Offices of Marc Grossman" Language="C#" MasterPageFile="~/MasterPages/SiteMainInternal.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="results_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainLogo" Runat="Server">
<a href="http://www.wefight4you.com" title="California Lawyers">
<img src="http://www.wefight4you.com/images/teamofattorneys2.jpg" alt="California Lawyers" style="width: 800px; height: 244px"/>
</a>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitleH1" Runat="Server">
<h1 id="pageTitle">Case Results</h1>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" Runat="Server">
Auto Accident - 125K<br />
Discrimination in Work Place - 1.5M<br />
Business Litigation - 3.9M<br />
Premises Liability - 1.45M<br />
Racial Discrimination - 300K<br />
Civil Rights - 450K<br />
Insurance Coverage - 250K<br />
Banking Dispute - 300K<br />
International Business Dispute - 2.5<br />
Work Injury - 145K<br />
intellectual property (misappropriation of right of publicity) $150,000<br />
partnership dispute: $400,000<br />
insurance bad faith (homeowners claim, mold damage): $400,000<br />
</asp:Content>

