﻿<%@ Page Title="Procurador de quiebra - Upland, Montclair, Claremont, Chino Hills, Chino" Language="C#" MasterPageFile="~/MasterPages/SiteMainInternal.master" AutoEventWireup="true" CodeFile="quiebra.aspx.cs" Inherits="espanol_quiebra" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
<meta http-equiv="Content-Language" content="ES" /> 
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainLogo" Runat="Server">
<img src="../images/i-prac-bankruptcy.jpg" style="width: 802px; height: 228px"/>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageTitleH1" Runat="Server">
<h1 id="pageTitle"> Por lo tanto, Usted ha considerado presentación de quiebra</h1>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" Runat="Server">
<p>Cuando se trata de quiebra que nadie puede entrar en un enlace financiero. A veces surgen imprevistos, eventos que cuestan dinero y no podría ver una manera de la deuda. Estos eventos podrían incluir divorcio, facturas médicas, pérdida de empleos o más.No importa lo que ha causado encontrar usted mismo en una difícil financiera situación, la Oficina de derecho de Marc e. Grossman puede ayudar. Hemos ayudado a muchos personas salir de la deuda y cuidar a sus
<b>cuestiones de quiebra</b> de manera oportuna.</p>
<p>Si los sonidos más arriba como usted, entonces usted es un candidato potencial para la quiebra.Ahora mismo podría estar buscando alrededor de la internet para un abogado de quiebra para poder ver cuáles son sus opciones. Mientras se investigan, debe saber que usted está perdiendo el tiempo valioso. El proceso de quiebra tarda mucho tiempo para procesar.
<b>Contacte con nosotros para una consulta inicial gratuita. Nuestra consulta inicial gratis con informarle acerca de la </b>
<i>realidad de la quiebra</i>
</p>
<h2>El Realidad de la quiebra</h2>
<p>Si bien quiebra podría parecer la única opción que usted debe comprender los conceptos básicos de quiebra antes de presentar una reclamación. Es la premisa de la quiebra “ empezar de nuevo ” pero, lo que usted puede darse no cuenta es que puede perder algunos activos a lo largo del camino. Contratar un abogado es un movimiento inteligente porque nos hacer todo lo posible para ayudarle a mantener su activos, como su casa o coche y informarle de lo que se está produciendo usted mismo a.</p>
<h2>Nuestro Abogados de bancarrota</h2>
<p>Cada caso de quiebra es diferente. Nuestras las tasas se aplican un caso por caso, pero se sienten aseguró que somos muy razonables en precio. Lo que establece nos aparte de nuestros la competencia es que no candy abrigo su situación sólo para obtener su dinero. Quiebra es un asunto serio y en la ley oficinas de Marc Grossman recibirá ético y honesto representación sobre el tiempo cada vez.</p>
<h3>Paso 1</h3>
<p>Llamada 800-123-4567 a una consulta inicial gratuita de instalación. Dentro de esa consulta nos sentarse y volver a la cantidad de deudas que usted debe y cuántos de los acreedores que tiene. </p>
<b>Tratamos de transmitir lo que podría ser venir al archivo para la quiebra.</b>
<h3>Paso 2</h3>
<p>Si decide ir a través de con la quiebra se firmará un retenedor de tarifa plana acuerdo. Esa tasa dependerá de las deudas que tiene y la cantidad de los acreedores (su abogado irá a través de los detalles dentro de la consulta libre).</p>
<h3>Paso 4</h3>
<p>Nos obtener su informe de crédito</p>
<h3>Paso 5</h3>
<p>Vez Contamos con todo y cualquier instrucción y documentos junto con el informe de crédito que nos preparamos una petición de quiebra (su abogado de quiebra se vaya a este respecto con usted).</p>
<h3>Paso 6</h3>
<p>Nos archivo la petición para el Tribunal.</p>
<h3>Paso 7</h3>
<p>UN “ Reunión de los acreedores ”, a continuación, se configura alrededor de 45 días desde la que la petición se recibió en el que se les proporciona representación de un abogado.En la reunión, un “ fideicomisario ” se designa al caso para controlar todos los bienes a try y dar los acreedores un poco de lo que se debe (no a mencionar, por lo general si los ingresos son tan bajo, los acreedores pueden alejarse con nada).</p>
<h3>Paso 8</h3>
<p>Después de la reunión y desembolso de fondos, si alguna, a los acreedores se hace, la peticionario es descargada luego de toda su deuda, así pues, colocándolas en cero a empezar de nuevo.</p>
<h2>El Conceptos básicos de bancarrota</h2>
<p>Si está pensando en bancarrota es un momento de miedo para usted. Sea cual fuere el caso Usted no puede pagar sus cuentas. Usted podría estar recibiendo llamadas de los acreedores que son una amenaza, recuperación de automóviles, foreclosures y incluso trabajo garnishments. Antes de su muere de bienestar financiero debe comprender lo que usted podría potencialmente estar en para. De ninguna manera es esta la indicio que todos guía de quiebra, pero éstas conceptos básicos están pensadas como una introducción antes de que reunirá con uno de nuestros abogados Encajona está en la fase “ compras alrededor de ”.</p>
<p>A continuación están implicados los pasos básicos para una bancarrota. Para acelerar la hacen de proceso seguro de que usted traer en toda la documentación de sus acreedores (facturas, cartas, etc.) cuando se siente una consulta inicial libre. </p>
<p>El Constitución de Estados Unidos da poder de Congreso para promulgar “ uniforme de las leyes sobre la sujeto de quiebras a lo largo de los Estados Unidos. ”  Esto significa que quiebra en los Estados Unidos es un asunto federal.  Archivar de quiebra, Usted debe presentar en los tribunales de bancarrota de Estados Unidos.  Hay algunos auxiliares cuestiones que se decidió bajo la ley estatal y variarán en función de la cual Estado que vive.</p>
<p>Allí son seis tipos de solicitudes de bancarrota permitidos en virtud del código de bancarrota, sin embargo El capítulo 7, capítulo 11 y 13 de capítulo son los más importantes para consumidores. </p>
<h2>Capítulo Quiebra 7</h2>
<p>Capítulo 7 es la sección más utilizada de la quiebra de código.  Más de la mitad de la quiebras registradas para en los Estados Unidos se archivan en virtud del capítulo 7. En el Capítulo 7 como el deudor usted debe renunciar a su propiedad no exentos a un quiebra fideicomisario. . Obtener más información acerca de El capítulo 7 Banruptcy</p>
<h2>Capítulo Quiebra 13</h2>
<p>En el Alivio de la quiebra de capítulo 13, como el deudor, conserva el titularidad y posesión de todos sus activos, pero debe dedicar una parte de su futuro ingresos para pagar los acreedores. Más información acerca de quiebra de capítulo 13 </p>
<h2>Capítulo 11 Bankrutpcy</h2>
<p>Capítulo 11 De socorro de bancarrota se utiliza para los propietarios de negocios.  En virtud del capítulo 11 concursal alivio, como deudor, usted podría mantener sus activos de propiedad y mantener control de su negocio. Más información acerca de capítulo 11 concursal </p>
<h3>Quiebra Abusar de prevención y la ley de protección de consumidores (BAPCPA)</h3>
<p>Quiebra Abusar de prevención y la ley de protección de consumidores (BAPCPA) El Quiebra Abuse Prevention y ley de protección de consumidor de 2005, drásticamente una revisión del código de bancarrota.  El BAPCPA < /a> fue defendido por prestamistas de consumidores que presentarse protegerse mejor la nueva ley.  Esta mejor protección para prestamistas parece haber llegado en los gastos de los consumidores que necesitan alivio de la quiebra</p>
<p>Uno de los cambios en el marco de BAPCPA, ahora existe una “ prueba de los medios ”, que hace mucho más difícil para deudores en su mayor parte de consumidores deudas calificar para alivio de quiebra de capítulo 7.  </p>
<p>Capítulo 7 es la quiebra más favorable para los consumidores, por lo tanto limitar su disponibilidad hace presentación de quiebra significativamente más implicados y difícil.  En virtud medio prueba del BAPCPA, debe tener menos de un ingresos promedio para una familia del mismo tamaño como la suya.  Se calculan los ingresos más de 180 días anteriores a la son filing y hay ciertos subsidios o que viven los gastos y pagos a los acreedores seguros.  El resultado es una muy compleja cálculo y no refleja necesariamente su renta disponible, pero usted debe calificar en virtud de la prueba de los medios que se permita el máximo de archivo para capítulo 7, forma conveniente de quiebra de consumidores.  En cambio, si no la prueba de medios usted debe presentar bajo 
Capítulo 13.</p>
<p>BAPCPA También requiere antes para presentar una solicitud para alivio de la quiebra, el deudor deben emprender la asesoría de crédito aprobada.  Esta asesoría es a veces de poco se benefician, porque para muchas personas, es una petición de quiebra de sus sólo legítima elección. Quiebra es ley complicada y recientemente se ha vuelto más.  Es por ello que necesita un abogado con experiencia que es versado en la ley de bancarrota para ayudarle a través de su caso.  Llegar a las oficinas de ley de Marc Grossman y hablar sobre su opciones bajo la ley de quiebras.  Nuestro equipo de abogados experimentados está aquí para ayudarle.  Después de su libre consulta inicial comprenderá mejor sus derechos y estar mejor preparados para las opciones que se enfrenta.</p>
<p>Correo electrónico nos < /a> o llámenos gratis al 1-888-407-9068 a hablar de su caso con un abogado conocedor de la quiebra.Nos ofrecen una consulta inicial para proporcionarle un sólido punto de partida para su caso Si usted ' re presentación de un capítulo 7 o el capítulo 13 solicitud de quiebra. Queremos aprender acerca de su situación. Tenemos que le proporcionan información clara acerca de cómo nos podemos guiarle por él.</p>
<b>
Inteligente, representación de quiebra honesto</b>
<p>Nos ofrecen una consulta inicial para proporcionarle un sólido punto de partida para su caso si eres presentación un capítulo 7 o quiebra de capítulo 11 reclamar . Queremos aprender acerca de su situación. Permítanos proporcionarle información clara acerca de cómo nos podemos guiarle por ella.
El Oficina de derecho de Marc Grossman está disponible para manejar casos de bancarrota para las personas en Upland, California y en todo el Inland Empire.</p>
<p>Nuestro conocimiento de las leyes de quiebra significa que usted puede confía en que le ayudarán a encontrar un ruta de acceso para resolver su desafío financiero. Encontramos un método que es correcto para usted, si significa bancarrota capítulo 7, quiebra de capítulo 13 o encontrar algunos otra solución.</p>
<p>Quiebra puede ayudar a salvar a su hogar de ejecución. Puede ayudar a obtener un nuevo comienzo sobre su futuro financiero. Puede ayudar a todos de esta tensión bajar su hombros para poder obtener con su vida.
</p>
<p>Para más información sobre cómo un abogado de quiebra experimentados puede ayudarle a través de un deuda difícil situación, llamada nos peaje gratis al 1-888-407-9068 para un libre consulta inicial.</p>
<p>Nos son una Agencia de alivio de deuda. Ayudamos a archivo de las personas para alivio de la quiebra en virtud de la código de bancarrota.</p>
</asp:Content>

